force-app/main/default/flows/Account_Plan_Update_Market_Segment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Concatenate_Segment</name>
        <label>Concatenate Segment</label>
        <locationX>628</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>MarketSegFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!MarketSegFinal} ;{!loopvariable.Market_Segment__c} {!loopvariable.Percent_Allocation__c} %</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnMarketSegment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Segment_2</name>
        <label>Concatenate Segment 2</label>
        <locationX>633</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>MarketSegFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!loopvariable.Market_Segment__c} {!loopvariable.Percent_Allocation__c} %</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsFirstIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnMarketSegment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Iteration_Number</name>
        <label>Check Iteration Number</label>
        <locationX>427</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Concatenate_Segment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Iteration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFirstIteration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concatenate_Segment_2</targetReference>
            </connector>
            <label>First Iteration</label>
        </rules>
    </decisions>
    <description>Sub flow to return concatenated market segment value.</description>
    <interviewLabel>Account Plan: Update Market Segment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan: Update Market Segment</label>
    <loops>
        <name>LoopOnMarketSegment</name>
        <label>LoopOnMarketSegment</label>
        <locationX>218</locationX>
        <locationY>216</locationY>
        <assignNextValueToReference>loopvariable</assignNextValueToReference>
        <collectionReference>LstMarketSegmet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Iteration_Number</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMarketSegment</name>
        <label>getMarketSegment</label>
        <locationX>225</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnMarketSegment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Market_Segment__c</object>
        <outputReference>LstMarketSegmet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Market_Segment__c</queriedFields>
        <queriedFields>Percent_Allocation__c</queriedFields>
        <sortField>Market_Segment__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>getMarketSegment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsFirstIteration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>LstMarketSegmet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>lstSegment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>MarketSegFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
