force-app/main/default/flows/Account_Plan_Update_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Sub flow to update territory plan detail on creation</description>
    <interviewLabel>Account Plan : Update Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan : Update Territory Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetch Account details</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>455</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSalesTerritoryRecordtypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountTerritoryCode</assignToReference>
            <field>Territory_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Plan_Record</name>
        <label>Get Active Plan Record</label>
        <locationX>459</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountTerritoryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesTerritoryRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputAssignments>
            <assignToReference>ActivePlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetSalesTerritoryRecordtypeId</name>
        <label>GetSalesTerritoryRecordtypeId</label>
        <locationX>663</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Plan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Territory_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SalesTerritoryRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input variable for account id</description>
        <name>AccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountTerritoryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesTerritoryRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
