force-app/main/default/flows/Account_Update_Tier_For_Child_Prospects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Developer_Name_To_Prospect</name>
        <label>Assign Developer Name To Prospect</label>
        <locationX>88</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Record_Type_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Tier_Value_From_Parent_To_Child</name>
        <label>Map Tier Value From Parent To Child</label>
        <locationX>327</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Prospect_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Prospect_Collection</name>
        <label>Update the Prospect Collection</label>
        <locationX>328</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>soCollVarAccountUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Prospect_Childs</targetReference>
        </connector>
    </assignments>
    <description>This flow will update the tier field for all child prospects</description>
    <interviewLabel>Account Update Tier For Child Prospects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update Tier For Child Prospects</label>
    <loops>
        <name>Loop_through_Prospect_Childs</name>
        <label>Loop through Prospect Childs</label>
        <locationX>83</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>accountVar</assignNextValueToReference>
        <collectionReference>soCollVarAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Tier_Value_From_Parent_To_Child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prospect_Childs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Record_Type_Lookup</name>
        <label>Account Record Type Lookup</label>
        <locationX>85</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Child_Prospect_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Child_Prospect_Records</name>
        <label>Lookup Child Prospect Records</label>
        <locationX>85</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Prospect_Childs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varTier</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>soCollVarAccount</outputReference>
        <queriedFields>Tier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prospect_Childs</name>
        <label>Update Prospect Childs</label>
        <locationX>84</locationX>
        <locationY>449</locationY>
        <inputReference>soCollVarAccountUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Assign_Developer_Name_To_Prospect</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>accCollVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soCollVarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>This will store the list of records to be updated.</description>
        <name>soCollVarAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store Record Type ID</description>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
