force-app/main/default/flows/Account_Clone_Market_Segment_Records_From_Parent_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>628</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>soCollAddMarketSements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Market_Segment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Assignment</name>
        <label>Temp Assignment</label>
        <locationX>349</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>soVarTemp.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChildAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarTemp.Market_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soCollMarketSegment.Market_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarTemp.Market_Sub_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soCollMarketSegment.Market_Sub_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarTemp.Percent_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soCollMarketSegment.Percent_Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account : Clone Market Segment Records From Parent Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Clone Market Segment Records From Parent Account</label>
    <loops>
        <name>Loop_On_Market_Segment</name>
        <label>Loop On Market Segment</label>
        <locationX>331</locationX>
        <locationY>250</locationY>
        <assignNextValueToReference>soCollMarketSegment</assignNextValueToReference>
        <collectionReference>soCollVarMarketSegment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temp_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Market_Segment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Market_Segment_Records</name>
        <label>Create Market Segment Records</label>
        <locationX>105</locationX>
        <locationY>405</locationY>
        <inputReference>soCollAddMarketSements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_To_Market_Segment</name>
        <label>Look Up To Market Segment</label>
        <locationX>329</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Market_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentAccountId</elementReference>
            </value>
        </filters>
        <object>Market_Segment__c</object>
        <outputReference>soCollVarMarketSegment</outputReference>
        <queriedFields>Market_Segment__c</queriedFields>
        <queriedFields>Market_Sub_Segment__c</queriedFields>
        <queriedFields>Percent_Allocation__c</queriedFields>
    </recordLookups>
    <startElementReference>Look_Up_To_Market_Segment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>soCollAddMarketSements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>soCollMarketSegment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>soCollVarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soCollVarMarketSegment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>soVarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soVarTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Segment__c</objectType>
    </variables>
    <variables>
        <name>varChildAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
