force-app/main/default/flows/Agreement_Send_Email_for_Fully_Signed_Open_Offer_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callingInvocableMethodForSendingEmail</name>
        <label>callingInvocableMethodForSendingEmail</label>
        <locationX>1163</locationX>
        <locationY>447</locationY>
        <actionName>AgreementSendEmailForOpenOfferAgreement</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccEmailAddress</name>
            <value>
                <elementReference>emailAddressOfAllAffiliates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toEmailAddress</name>
            <value>
                <elementReference>recipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addClosingTableVariable</name>
        <label>addClosingTableVariable</label>
        <locationX>942</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressOfAllAffiliates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Deal_Email_Address_For_Open_Offer_Agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressOfAllAffiliates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.EmailForOpenOffer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Apttus__Account__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>callingInvocableMethodForSendingEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddColumnsToTable</name>
        <label>AddColumnsToTable</label>
        <locationX>807</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopVariableForAgreementAccountRelationShipRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTableRow</name>
        <label>addTableRow</label>
        <locationX>1219</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressOfAllAffiliates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVariableForAgreementAccountRelationShipRecords.Account_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfAffiliates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAgreementAccountRelationshipRecordsForAffiliates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopVariableForAgreementAccountRelationShipRecords</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue> Fully signed/Activated Open Offer customer</stringValue>
        </value>
    </constants>
    <description>Flow for sending email to TAMs when Open Offer Agreement is fully signed.</description>
    <environments>Default</environments>
    <formulas>
        <name>emailBody</name>
        <dataType>String</dataType>
        <expression>IF({!numberOfAffiliates}&gt;0,{!emailBodyForAffiliates},{!emailBodyforNoAffiliates})</expression>
    </formulas>
    <formulas>
        <name>tableRow</name>
        <dataType>String</dataType>
        <expression> 
  &apos;&lt;tr style=&quot;width:100%;&quot;&gt;&lt;td style=&quot;text-align: center; word-wrap: break-word !important;&quot;&gt;&apos; + {!loopVariableForAgreementAccountRelationShipRecords.Template_Account_Name__c}+
&apos;&lt;td style=&quot;text-align: center; word-wrap: break-word !important;&quot;&gt;&apos; + {!loopVariableForAgreementAccountRelationShipRecords.Customer_ERP_Number__c}+
&apos;&lt;/td&gt;&lt;td style=&quot;text-align: center; word-wrap: break-word !important;&quot;&gt;&apos; + IF({!loopVariableForAgreementAccountRelationShipRecords.Include_In_Annual_Consumable_Spend__c}=true,&apos;true&apos;,&apos;false&apos;)+
&apos;&lt;/td&gt;&lt;td style=&quot;text-align: center; word-wrap: break-word !important;&quot;&gt;&apos; + IF({!loopVariableForAgreementAccountRelationShipRecords.Opt_In_Receiving_Open_Offer_Discount__c}=true,&apos;true&apos;,&apos;false&apos;)+
&apos;&lt;/td&gt;&lt;td style=&quot;text-align: center; word-wrap: break-word !important;&quot;&gt;&apos; + IF({!loopVariableForAgreementAccountRelationShipRecords.Consider_for_GF_Discount_Calculation__c}=true,&apos;true&apos;,&apos;false&apos;)+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Agreement: Send Email for Fully Signed Open Offer Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreement: Send Email for Fully Signed Open Offer Agreement</label>
    <loops>
        <name>loopVariableForAgreementAccountRelationShipRecords</name>
        <label>loopVariableForAgreementAccountRelationShipRecords</label>
        <locationX>942</locationX>
        <locationY>205</locationY>
        <collectionReference>getAgreementAccountRelationshipRecordsForAffiliates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addTableRow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addClosingTableVariable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAgreementAccountRelationshipRecordsForAffiliates</name>
        <label>getAgreementAccountRelationshipRecordsForAffiliates</label>
        <locationX>623</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddColumnsToTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opt_In_Receiving_Open_Offer_Discount__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agreement_Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Owner_Email__c</queriedFields>
        <queriedFields>Template_Account_Name__c</queriedFields>
        <queriedFields>Customer_ERP_Number__c</queriedFields>
        <queriedFields>Opt_In_Receiving_Open_Offer_Discount__c</queriedFields>
        <queriedFields>Include_In_Annual_Consumable_Spend__c</queriedFields>
        <queriedFields>Consider_for_GF_Discount_Calculation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>101</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>getAgreementAccountRelationshipRecordsForAffiliates</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.cs_Apex_Settings__c.Bypass_All_Flows__c}),
Text({!$Record.Apttus__Status__c})={!$Label.AgreementStatusFullySigned},
Text({!$Record__Prior.Apttus__Status__c})!={!$Label.AgreementStatusFullySigned},
Text({!$Record.Apttus__Status_Category__c}) ={!$Label.InSignatures},
{!$Record.RecordType.Name} ={!$Label.AgreementRecordTypeNameOpenOffer}
)</filterFormula>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyForAffiliates</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Apttus__Account__r.Owner.FirstName} {!$Record.Apttus__Account__r.Owner.LastName}&lt;p&gt;
{!$Record.Apttus__Account__r.Name}&amp;nbsp;has signed the Open Offer Supply Agreement and is now an Open Offer customer. The Open Offer Quote has been activated in Illumina’s systems including the elected discounts. These prices and discounts will now be reflected in any future orders. Please reach out to AMRCommDealAnalyst@illumina.com to obtain a copy of the Open Offer Quote which you can provide to the account(s) below.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;{!tableTemplate}&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please reach out to {!$Label.Deal_Email_Address_For_Open_Offer_Agreement}.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyforNoAffiliates</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Apttus__Account__r.Owner.FirstName} {!$Record.Apttus__Account__r.Owner.LastName}&lt;p&gt;
{!$Record.Apttus__Account__r.Name}&amp;nbsp;has signed the Open Offer Supply Agreement and is now an Open Offer customer. The Open Offer Quote has been activated in Illumina’s systems including the elected discounts. These prices and discounts will now be reflected in any future orders. Please reach out to AMRCommDealAnalyst@illumina.com to obtain a copy of the Open Offer Quote which you can provide to the account(s) below. &lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please reach out to {!$Label.Deal_Email_Address_For_Open_Offer_Agreement}.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tableTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!table}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>agreementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>emailAddressOfAllAffiliates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numberOfAffiliates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%;border-right-width: 1px; border-right-style: solid;border-right-color: #000000; border-left-width: 1px; border-left-style: solid;border-left-color: #000000;          border-bottom-width: 1px; border-bottom-style: solid;border-bottom-color: #000000; border-top-width: 1px; border-top-style: solid;border-top-color: #000000;&quot; &gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;tr style=&quot;width:100%; !important;&quot;&gt; &lt;th style=&quot;text-align: center; font-weight: bold; word-wrap: break-word !important;&quot;&gt;{!$Label.UI_Label_Agreement_Account_Name}&lt;/th&gt; &lt;th style=&quot;text-align: center; font-weight: bold; word-wrap: break-word !important;&quot;&gt;{!$Label.UI_Label_Account_ERP_Number}&lt;/th&gt;  &lt;th style=&quot;text-align: center; font-weight: bold; word-wrap: break-word !important;&quot;&gt;{!$Label.UI_Label_Annual_Cosumable_Spend}&lt;/th&gt;&lt;th style=&quot;text-align: center; font-weight: bold; word-wrap: break-word !important;&quot;&gt;{!$Label.UI_Label_Opt_In_Receiving_OO_Disc}&lt;/th&gt;&lt;th style=&quot;text-align: center; font-weight: bold; word-wrap: break-word !important;&quot;&gt;{!$Label.UI_Label_GF_Discount_Calculation}&lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
