force-app/main/default/flows/Agreement_Approval_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callingInvocableMethodForSendingEmail</name>
        <label>callingInvocableMethodForSendingEmail</label>
        <locationX>995</locationX>
        <locationY>538</locationY>
        <actionName>AgreementSendEmailForOpenOfferAgreement</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccEmailAddress</name>
            <value>
                <elementReference>emailAddressOfAllAffiliates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toEmailAddress</name>
            <value>
                <elementReference>recipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Of_Approval_For_Non_Open_Offer_Agreement</name>
        <label>Send Email Of Approval For Non Open Offer Agreement</label>
        <locationX>531</locationX>
        <locationY>69</locationY>
        <actionName>Apttus__APTS_Agreement__c.Agreement_Send_Approval_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Of_Rejection_For_Non_Open_Offer_Agreement</name>
        <label>Send Email Of Rejection For Non Open Offer Agreement</label>
        <locationX>794</locationX>
        <locationY>318</locationY>
        <actionName>Apttus__APTS_Agreement__c.Agreement_Send_Rejection_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>collectionForEmailOfAffliliates</name>
        <label>collectionForEmailOfAffliliates</label>
        <locationX>679</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>emailAddressOfAllAffiliates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVaribaleForAgreementAccountRelationShipRecords.Account_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopVaribaleForAgreementAccountRelationShipRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dealEmailAddressForOpenOfferAgreement</name>
        <label>dealEmailAddressForOpenOfferAgreement</label>
        <locationX>841</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>emailAddressOfAllAffiliates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Deal_Email_Address_For_Open_Offer_Agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Apttus__Account__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>callingInvocableMethodForSendingEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Email</name>
        <label>Approval Email</label>
        <locationX>529</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Email_For_Non_Open_Offer_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementRecordTypeDevNameOpenOffer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementApprovalStatusApproved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus_Approval__Approval_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Request_Present__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Of_Approval_For_Non_Open_Offer_Agreement</targetReference>
            </connector>
            <label>Approval Email For Non Open Offer Agreement</label>
        </rules>
        <rules>
            <name>Approval_Rejection_Email_For_Open_Offer_Agreement</name>
            <conditionLogic>1 AND 4  AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementRecordTypeDevNameOpenOffer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementApprovalStatusApproved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementApprovalStatusRejected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus_Approval__Approval_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAgreementAccountRelationshipRecordsForAffiliates</targetReference>
            </connector>
            <label>Approval/Rejection Email For Open Offer Agreement</label>
        </rules>
        <rules>
            <name>Rejection_Email_For_Non_Open_Offer_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementRecordTypeDevNameOpenOffer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus_Approval__Approval_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Approval__Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AgreementApprovalStatusRejected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Request_Present__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Of_Rejection_For_Non_Open_Offer_Agreement</targetReference>
            </connector>
            <label>Rejection Email For Non Open Offer Agreement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>emailBody</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Apttus_Approval__Approval_Status__c}, &apos;Approved&apos;),{!emailBodyOfApprovedOpenOfferAgreement},{!emailBodyOfRejctedOpenOfferAgrrement}
)</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Apttus_Approval__Approval_Status__c}, &apos;Approved&apos;),&apos;Open Offer Agreement Approval Notification&apos;,&apos;Open Offer Agreement Rejection Notification&apos;)</expression>
    </formulas>
    <interviewLabel>Agreement Approval Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreement Approval Email</label>
    <loops>
        <name>loopVaribaleForAgreementAccountRelationShipRecords</name>
        <label>loopVaribaleForAgreementAccountRelationShipRecords</label>
        <locationX>683</locationX>
        <locationY>533</locationY>
        <collectionReference>getAgreementAccountRelationshipRecordsForAffiliates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>collectionForEmailOfAffliliates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dealEmailAddressForOpenOfferAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAgreementAccountRelationshipRecordsForAffiliates</name>
        <label>getAgreementAccountRelationshipRecordsForAffiliates</label>
        <locationX>538</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopVaribaleForAgreementAccountRelationShipRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opt_In_Receiving_Open_Offer_Discount__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agreement_Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Owner_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>44</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Approval_Email</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.cs_Apex_Settings__c.Bypass_All_Flows__c}), 
OR(TEXT({!$Record.Apttus_Approval__Approval_Status__c})=  {!$Label.AgreementApprovalStatusApproved},
TEXT({!$Record.Apttus_Approval__Approval_Status__c})= {!$Label.AgreementApprovalStatusRejected}),
TEXT({!$Record__Prior.Apttus_Approval__Approval_Status__c}) != TEXT({!$Record.Apttus_Approval__Approval_Status__c})
)</filterFormula>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBodyOfApprovedOpenOfferAgreement</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Apttus__Account__r.Owner.FirstName} {!$Record.Apttus__Account__r.Owner.LastName}&lt;p&gt;This is to notify you that {!$Record.Apttus__Account__r.Name} is eligible to sign the Open Offer. &lt;br&gt;The internal team will provide you with an information package as soon as it is available.&lt;/p&gt;&lt;p&gt;If you have any questions, please reach out to {!$Label.Deal_Email_Address_For_Open_Offer_Agreement}.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyOfRejctedOpenOfferAgrrement</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Apttus__Account__r.Owner.FirstName} {!$Record.Apttus__Account__r.Owner.LastName}
&lt;p&gt;After careful consideration, {!$Record.Apttus__Account__r.Name} is not eligible to sign the Open Offer.  Please inform the customer and reach out to {!$Label.Deal_Email_Address_For_Open_Offer_Agreement} if you have any questions.&lt;/p&gt;
&lt;p&gt; Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>agreementRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>emailAddressOfAllAffiliates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
