force-app/main/default/flows/Assignment_for_Quote_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_AMEA_Queue</name>
        <label>Notify AMEA Queue</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_AMEA</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_AMEA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_AMR_Queue</name>
        <label>Notify AMR Queue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_AMR</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_AMR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_EUR_Queue</name>
        <label>Notify EUR Queue</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_EUR</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_EUR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_GC_Queue</name>
        <label>Notify GC Queue</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_China</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Email_sent_when_WO_account_region_is_China</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify AMR Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify EUR Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify AMEA Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notify GC Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignment_for_Quote_Creation</name>
        <label>Assignment for Quote Creation</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMR_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AMRWorkOrderEstimatesQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_AMR_Queue</targetReference>
            </connector>
            <label>AMR Queue</label>
        </rules>
        <rules>
            <name>EUR_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.EURWorkOrderEstimatesQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_EUR_Queue</targetReference>
            </connector>
            <label>EUR Queue</label>
        </rules>
        <rules>
            <name>AMEA_QUeue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AMEAWorkOrderEstimatesQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_AMEA_Queue</targetReference>
            </connector>
            <label>AMEA QUeue</label>
        </rules>
        <rules>
            <name>Greater_China_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.GCWorkOrderEstimatesQueueId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_GC_Queue</targetReference>
            </connector>
            <label>Greater China Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;Assignment for Quote Creation&apos;+{!currentElement}</expression>
    </formulas>
    <interviewLabel>Assignment for Quote Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment for Quote Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_for_Quote_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Send_for_Quote_Creation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
