force-app/main/default/flows/Backup_Approver_Cancel_Backup_on_Expiration_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>572</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Backup Approver Record Based On Expiration Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <description>Migrated from the: Backup Approver : Cancel Backup on Expiration Date workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Backup Approver : Cancel Backup on Expiration Date- &apos;+{!currentElement}</expression>
    </formulas>
    <formulas>
        <name>SetCancellationDateNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <label>Backup Approver : Cancel Backup on Expiration Date</label>
    <migratedFromWorkflowRuleName>Backup Approver : Cancel Backup on Expiration Date</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Backup_Approver_Record_Based_On_Expiration_Date</name>
        <label>Update Backup Approver Record Based On Expiration Date</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Apttus_Approval__Cancellation_Date__c</field>
            <value>
                <elementReference>SetCancellationDateNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus_Approval__Effective_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus_Approval__Expiration_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus_Approval__InEffect__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus_Approval__IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND (NOT ( ISBLANK ( {!$Record.Apttus_Approval__Expiration_Date__c} ) ),     
          {!$Record.Apttus_Approval__InEffect__c} 
         )</filterFormula>
        <object>Apttus_Approval__Backup_Approver__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_After_0_Hrs_Expiration_date</name>
            <connector>
                <targetReference>Update_Backup_Approver_Record_Based_On_Expiration_Date</targetReference>
            </connector>
            <label>Schedule After 0 Hrs Expiration date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Apttus_Approval__Expiration_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>572</locationX>
        <locationY>492</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
