force-app/main/default/flows/Case_Relocation_Work_Order_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Direct_Recipient_Email_Action_for_GTS_Approved</name>
        <label>Direct Recipient Email Action for GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>1079</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Partner_User_Recipients_for_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InternalUserRecipientsforGTSApproved</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Direct_Recipient_Email_Action_for_GTS_Request_Failed</name>
        <label>Direct Recipient Email Action for GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>1079</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Partner_User_Recipients_for_GTS_Request_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InternalUserRecipientsforGTSRequestFailed</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Internal_User_Email_Recipient_for_GTS_Block</name>
        <label>Internal User Email Recipient for GTS Block</label>
        <locationX>1610</locationX>
        <locationY>812</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Partner_Recipients_for_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InternalUserRecipientsforGTSBlock</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Partner_Email_Recipient_Action_for_GTS_Approved</name>
        <label>Partner Email Recipient Action for GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>959</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Direct_Recipient_Email_Action_for_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PartnerEmailRecipientsforGTSApproved</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Partner_Email_Recipient_Action_for_GTS_Block</name>
        <label>Partner Email Recipient Action for GTS Block</label>
        <locationX>1615</locationX>
        <locationY>692</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Internal_User_Email_Recipient_for_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PartnerEmailRecipientsForGTSBlock</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Partner_Email_Recipient_Action_for_GTS_Request_Failed</name>
        <label>Partner Email Recipient Action for GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>959</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Direct_Recipient_Email_Action_for_GTS_Request_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolGTSBlock</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolGTSRequestFailed</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>ListEnableNotifcationForA2FS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>ListUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>strAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PartnerEmailRecipientsforGTSRequestFailed</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_Internal_Requestor_for_GTS_Block</name>
        <label>Send Email for Internal Requestor for GTS Block</label>
        <locationX>1735</locationX>
        <locationY>1757</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_to_Requestor_for_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Error_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Requested_User_for_GTS_Approved</name>
        <label>Send Email to Direct Requested User for GTS Approved</label>
        <locationX>2923</locationX>
        <locationY>2111</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_for_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Approved_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSApproved</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Requested_User_for_GTS_Request_Failed</name>
        <label>Send Email to Direct Requested User for GTS Request Failed</label>
        <locationX>4221</locationX>
        <locationY>1909</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_for_GTS_Request_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Request_Failed_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_User_for_GTS_Approved</name>
        <label>Send Email to Direct User for GTS Approved</label>
        <locationX>2527</locationX>
        <locationY>1655</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Approved_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InternalUserRecipientsforGTSApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSApproved</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_User_for_GTS_Request_Failed</name>
        <label>Send Email to Direct User for GTS Request Failed</label>
        <locationX>3583</locationX>
        <locationY>1655</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Request_F</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Request_Failed_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InternalUserRecipientsforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Users_For_GTS_Block</name>
        <label>Send Email to Direct Users For GTS Block</label>
        <locationX>1478</locationX>
        <locationY>1388</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_if_Requestor_Already_Part_of_Partner_Internal_Users_List_For_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Error_Internal_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InternalUserRecipientsforGTSBlock</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Partner_Requested_User_for_GTS_Approved</name>
        <label>Send Email to Partner Requested User for GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>2111</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_for_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Approved_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSApproved</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Partner_Requested_User_for_GTS_Request_Failed</name>
        <label>Send Email to Partner Requested User for GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>2111</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_for_GTS_Request_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Request_Failed_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Partner_Users_for_GTS_Approved</name>
        <label>Send Email to Partner Users for GTS Approved</label>
        <locationX>2527</locationX>
        <locationY>1319</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Direct_User_Recipient_for_GTS_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Approved_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PartnerEmailRecipientsforGTSApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSApproved</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Partner_Users_for_GTS_Block</name>
        <label>Send Email To Partner Users for GTS Block</label>
        <locationX>1478</locationX>
        <locationY>1052</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Direct_Users_For_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Error_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PartnerEmailRecipientsForGTSBlock</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Partner_Users_for_GTS_Request_Failed</name>
        <label>Send Email to Partner Users for GTS Request Failed</label>
        <locationX>3493</locationX>
        <locationY>1262</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Direct_User_Recipient_for_GTS_Request_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Request_Failed_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PartnerEmailRecipientsforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Requestor_for_GTS_Block</name>
        <label>Send Email To Requestor for GTS Block</label>
        <locationX>1471</locationX>
        <locationY>1757</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Notification_to_Requestor_for_GTS_Block</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_For_GTS_Error_Partner_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RequestedUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_for_GTS_Approved</name>
        <label>Send Notification for GTS Approved</label>
        <locationX>2818</locationX>
        <locationY>2322</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body_For_GTS_Approved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectforGTSApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RequestedByUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_for_GTS_Request_Failed</name>
        <label>Send Notification for GTS Request Failed</label>
        <locationX>4066</locationX>
        <locationY>2212</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body_For_GTS_Request_Failed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectforGTSRequestFailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RequestedByUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Requestor_for_GTS_Block</name>
        <label>Send Notification to Requestor for GTS Block</label>
        <locationX>1735</locationX>
        <locationY>1973</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Email_Subject_For_GTS_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RequestedByUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>532</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Custom Notification Id</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4838</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Email Recipient Action for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4897</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Recipient Email Action for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4926</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Partner Users for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4998</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Direct User for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>3722</locationX>
        <locationY>2758</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Partner Requested User for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4453</locationX>
        <locationY>2683</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Direct Requested User for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>4055</locationX>
        <locationY>2849</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Notification for GTS Request Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2529</locationX>
        <locationY>2497</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Notification for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2907</locationX>
        <locationY>2572</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Direct Requested User for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2439</locationX>
        <locationY>2141</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Partner Users for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2437</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Partner Users for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2334</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Email Recipient Action for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2360</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Recipient Email Action for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2503</locationX>
        <locationY>2307</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Direct User for GTS Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>695</locationX>
        <locationY>1297</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Email Recipient Action for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>946</locationX>
        <locationY>1888</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email To Partner Users for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>853</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal User Email Recipient for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1331</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Direct Users For GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1455</locationX>
        <locationY>2229</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email To Requestor for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1667</locationX>
        <locationY>2478</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email for Internal Requestor for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1528</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Notification to Requestor for GTS Block</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requested_User_Details</name>
        <label>Assign Requested User Details</label>
        <locationX>1900</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>RequestedUserEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedByUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Relocation_Requested_By__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Account_of_Partner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Roles_and_Enable_Notifications_For</name>
        <label>Set User Roles and Enable Notifications For</label>
        <locationX>3055</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>ListEnableNotifcationForA2FS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Relocation Work Order Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Partner Primary Field Service Engineer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Primary Field Service Engineer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GTS_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store Account Id of Partner User.</description>
        <name>Store_Account_of_Partner_User</name>
        <label>Store Account of Partner User</label>
        <locationX>2409</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>strAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_User_Roles_and_Enable_Notifications_For</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Direct_User_Recipient_for_GTS_Approved</name>
        <label>Check Direct User Recipient for GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DirectUserForGTSApprovedExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSApproved</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_User_for_GTS_Approved</targetReference>
            </connector>
            <label>DirectUserForGTSApprovedExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Direct_User_Recipient_for_GTS_Request_Failed</name>
        <label>Check Direct User Recipient for GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Request_F</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DirectUserForGTSRequestFailedExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSRequestFailed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_User_for_GTS_Request_Failed</targetReference>
            </connector>
            <label>DirectUserForGTSRequestFailedExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Direct_Users_For_GTS_Block</name>
        <label>Check Direct Users For GTS Block</label>
        <locationX>1610</locationX>
        <locationY>1268</locationY>
        <defaultConnector>
            <targetReference>Check_if_Requestor_Already_Part_of_Partner_Internal_Users_List_For_GTS_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DirectUserRecipientExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSBlock</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Users_For_GTS_Block</targetReference>
            </connector>
            <label>DirectUserRecipientExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GTS_Status</name>
        <label>Check GTS Status</label>
        <locationX>3055</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GTS_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GTS Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Email_Recipient_Action_for_GTS_Block</targetReference>
            </connector>
            <label>GTS Block</label>
        </rules>
        <rules>
            <name>GTS_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GTS Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Email_Recipient_Action_for_GTS_Approved</targetReference>
            </connector>
            <label>GTS Approved</label>
        </rules>
        <rules>
            <name>GTS_Request_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Email_Recipient_Action_for_GTS_Request_Failed</targetReference>
            </connector>
            <label>GTS Request Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Approved</name>
        <label>Check if Requested By User Exists In Partner Direct Users List For GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Check_if_Requested_User_Partner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RequestorExistsForGTSApproved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSApproved</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsforGTSApproved</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <label>RequestorExistsForGTSApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Requested_By_User_Exists_In_Partner_Direct_Users_List_For_GTS_Request_F</name>
        <label>Check if Requested By User Exists In Partner Direct Users List For GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Check_if_Requested_User_Partner_Usr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RequestorExistsForGTSRequestFailed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSRequestFailed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsforGTSRequestFailed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <label>RequestorExistsForGTSRequestFailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Requested_User_Is_Partner_User</name>
        <label>Check If Requested User Is Partner User</label>
        <locationX>1735</locationX>
        <locationY>1637</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Requestor_for_GTS_Block</targetReference>
            </connector>
            <label>IsPartner</label>
        </rules>
        <rules>
            <name>IsNotPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_Internal_Requestor_for_GTS_Block</targetReference>
            </connector>
            <label>IsNotPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Requested_User_Partner_User</name>
        <label>Check if Requested User Partner User</label>
        <locationX>2923</locationX>
        <locationY>1991</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPartnerUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Partner_Requested_User_for_GTS_Approved</targetReference>
            </connector>
            <label>IsPartnerUser</label>
        </rules>
        <rules>
            <name>IsNotPartnerUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Requested_User_for_GTS_Approved</targetReference>
            </connector>
            <label>IsNotPartnerUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Requested_User_Partner_Usr</name>
        <label>Check if Requested User Partner Usr</label>
        <locationX>3992</locationX>
        <locationY>1879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPartnerUsr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Partner_Requested_User_for_GTS_Request_Failed</targetReference>
            </connector>
            <label>IsPartnerUsr</label>
        </rules>
        <rules>
            <name>IsNotPartnerUsr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Relocation_Requested_By__r.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Requested_User_for_GTS_Request_Failed</targetReference>
            </connector>
            <label>IsNotPartnerUsr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Requestor_Already_Part_of_Partner_Internal_Users_List_For_GTS_Block</name>
        <label>Check if Requestor Already Part of Partner Internal Users List For GTS Block</label>
        <locationX>1610</locationX>
        <locationY>1604</locationY>
        <defaultConnector>
            <targetReference>Check_If_Requested_User_Is_Partner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RequestorExistsFoGTSBlock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsForGTSBlock</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InternalUserRecipientsforGTSBlock</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Relocation_Requested_By__r.Email</elementReference>
                </rightValue>
            </conditions>
            <label>RequestorExistsFoGTSBlock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Recipients_for_GTS_Block</name>
        <label>Check Partner Recipients for GTS Block</label>
        <locationX>1610</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>Check_Direct_Users_For_GTS_Block</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartnerRecipientsExistForGTSBlock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsForGTSBlock</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Partner_Users_for_GTS_Block</targetReference>
            </connector>
            <label>PartnerRecipientsExistForGTSBlock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_User_Recipients_for_GTS_Approved</name>
        <label>Check Partner User Recipients for GTS Approved</label>
        <locationX>2659</locationX>
        <locationY>1199</locationY>
        <defaultConnector>
            <targetReference>Check_Direct_User_Recipient_for_GTS_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartnerUserForGTSApprovedExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsforGTSApproved</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Partner_Users_for_GTS_Approved</targetReference>
            </connector>
            <label>PartnerUserForGTSApprovedExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_User_Recipients_for_GTS_Request_Failed</name>
        <label>Check Partner User Recipients for GTS Request Failed</label>
        <locationX>3715</locationX>
        <locationY>1199</locationY>
        <defaultConnector>
            <targetReference>Check_Direct_User_Recipient_for_GTS_Request_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartnerUserForGTSReqFailedExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerEmailRecipientsforGTSRequestFailed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Partner_Users_for_GTS_Request_Failed</targetReference>
            </connector>
            <label>PartnerUserForGTSReqFailedExists</label>
        </rules>
    </decisions>
    <description>Flow to send notifications for GTS Relocation Work Order Request.</description>
    <environments>Default</environments>
    <formulas>
        <name>Case_Id_18_Character</name>
        <dataType>String</dataType>
        <expression>CASESAFEID ({!$Record.Id})</expression>
    </formulas>
    <formulas>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>Channel_Partner_Portal_Url</name>
        <dataType>String</dataType>
        <expression>{!$Label.Channel_Partner_Portal_Url}+&apos;s/case/&apos;+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Direct_User_Url</name>
        <dataType>String</dataType>
        <expression>{!$Label.Illumina_Portal_Lightning_Url}+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Case: Relocation Work Order Notifications -&apos;+{!CurrentElement}</expression>
    </formulas>
    <formulas>
        <name>Notification_Body_For_GTS_Approved</name>
        <dataType>String</dataType>
        <expression>&apos;Your requested relocation was approved for Case &apos;+{!$Record.CaseNumber}+&apos;/SN &apos;+{!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}+&apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>Notification_Body_For_GTS_Block</name>
        <dataType>String</dataType>
        <expression>&apos;Your requested relocation could not be approved for Case &apos;+{!$Record.CaseNumber}+&apos;/SN &apos;+{!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}+&apos;.  Please check your email for more details.&apos;</expression>
    </formulas>
    <formulas>
        <name>Notification_Body_For_GTS_Request_Failed</name>
        <dataType>String</dataType>
        <expression>&apos;Your requested relocation could not sync to SAP for Case &apos;+{!$Record.CaseNumber}+&apos;/SN &apos;+{!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}+&apos;. Please check your email for more details.&apos;</expression>
    </formulas>
    <interviewLabel>Case: Relocation Work Order Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Relocation Work Order Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1075</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Requested_User_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartsOrderNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Id</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>GTS_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GTS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GTS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GTS Block</stringValue>
            </value>
        </filters>
        <filters>
            <field>GTS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GTS Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Flow Exception log</description>
        <name>Create_Flow_Exception_log</name>
        <label>Create Flow Exception log</label>
        <locationX>1252</locationX>
        <locationY>2661</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Email_Template_For_GTS_Approved_Internal_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Your requested relocation was approved for Case {!$Record.CaseNumber}/SN {!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}:{!Direct_User_Url}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Template_For_GTS_Approved_Partner_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your requested relocation was approved for Case {!$Record.CaseNumber}/SN {!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}:{!Channel_Partner_Portal_Url}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Template_For_GTS_Error_Internal_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Your requested relocation could not be approved for Case {!$Record.CaseNumber}/SN {!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}:{!Direct_User_Url}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Relocation_Integration_Message__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Template_For_GTS_Error_Partner_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Your requested relocation could not be approved for&amp;nbsp;Case {!$Record.CaseNumber}/SN {!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}:{!Channel_Partner_Portal_Url}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Relocation_Integration_Message__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Template_For_GTS_Request_Failed_Internal_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your requested relocation could not sync to SAP for Case &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;/SN &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;{!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;{!Direct_User_Url}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.Relocation_Integration_Message__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Template_For_GTS_Request_Failed_Partner_User</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your requested relocation could not sync to SAP for Case &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CaseNumber}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;/SN &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Channel_Partner_Portal_Url}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Relocation_Integration_Message__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Subject_For_GTS_Block</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Relocation Failure Notice</stringValue>
        </value>
    </variables>
    <variables>
        <name>InternalUserRecipientsforGTSApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InternalUserRecipientsforGTSBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InternalUserRecipientsforGTSRequestFailed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>List to store Enable Notifications For Field Value for Account To Field Support.</description>
        <name>ListEnableNotifcationForA2FS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListUserRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerEmailRecipientsforGTSApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerEmailRecipientsForGTSBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerEmailRecipientsforGTSRequestFailed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestedByUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestedUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubjectforGTSApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Relocation Approval Notice</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubjectforGTSRequestFailed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Relocation Request Integration Failure</stringValue>
        </value>
    </variables>
</Flow>
