force-app/main/default/flows/CORS_Copy_Attachments_From_Parent_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>562</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>soCollVarAddContentDocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CORS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Assignment</name>
        <label>Temp Assignment</label>
        <locationX>566</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>soVarTemp.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soVarLoopContentDocLinkId.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarTemp.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soVarLoopCORS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarTemp.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Copies attachments from related order</description>
    <interviewLabel>CORS: Copy Attachments From Parent Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CORS: Copy Attachments From Parent Order</label>
    <loops>
        <name>Loop_Content_Document_Link</name>
        <label>Loop Content Document Link</label>
        <locationX>255</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>soVarLoopContentDocLinkId</assignNextValueToReference>
        <collectionReference>soCollVarContentDocumentId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_CORS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CORS</name>
        <label>Loop CORS</label>
        <locationX>255</locationX>
        <locationY>480</locationY>
        <assignNextValueToReference>soVarLoopCORS</assignNextValueToReference>
        <collectionReference>soCollCORS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temp_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attachments</name>
        <label>Create Attachments</label>
        <locationX>45</locationX>
        <locationY>468</locationY>
        <inputReference>soCollVarAddContentDocLink</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_To_Content_Document_Link</name>
        <label>Look Up To Content Document Link</label>
        <locationX>252</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>soCollVarContentDocumentId</outputReference>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUp_To_CORS</name>
        <label>LookUp To CORS</label>
        <locationX>250</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_To_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCORSId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>Contract_Order_Routing_Sheet__c</object>
        <outputReference>soCollCORS</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>LookUp_To_CORS</startElementReference>
    <status>Active</status>
    <variables>
        <name>soCollCORS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Order_Routing_Sheet__c</objectType>
    </variables>
    <variables>
        <name>soCollVarAddContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Content Document Id</description>
        <name>soCollVarContentDocumentId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>soCollVarUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>List Of CORS Ids</description>
        <name>soCORSIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Order_Routing_Sheet__c</objectType>
    </variables>
    <variables>
        <name>soVarContentDocumentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>soVarLoopContentDocLinkId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>soVarLoopCORS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Order_Routing_Sheet__c</objectType>
    </variables>
    <variables>
        <description>temporary variable</description>
        <name>soVarTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCORSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Related Order ID</description>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
