force-app/main/default/flows/CORS_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_17_A1</name>
        <label>CORS Greater Than Equal To USD 500K Equivalent_Edited</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_Alert_when_Greater_Than_Equal_To_USD_500K_Equivalent_Edited</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_19_A1</name>
        <label>CORS_above_equal_to_USD_500K_Equivalent</label>
        <locationX>50</locationX>
        <locationY>1925</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_Above_equal_to_USD_500K_Equivalent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_8</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_22_A1</name>
        <label>CORS - NextBio</label>
        <locationX>50</locationX>
        <locationY>2423</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_On_NextBio</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_25</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_9</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_25_A1</name>
        <label>CORS Less Than USD 500K Equivalent_Edited</label>
        <locationX>50</locationX>
        <locationY>2921</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_On_Less_Than_USD_500K_Equivalent_Edited</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_27</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_10</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_27_A1</name>
        <label>CORS_Less_Than_USD_500K_Equivalent</label>
        <locationX>50</locationX>
        <locationY>3419</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_On_Less_Than_USD_500K_Equivalent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_30</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_11</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_30_A1</name>
        <label>CORS PO Received For All FTS</label>
        <locationX>50</locationX>
        <locationY>3917</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_On_PO_Received_For_All_FTS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_33</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_12</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_33_A1</name>
        <label>CORS PO Received For All FTS_Edited</label>
        <locationX>50</locationX>
        <locationY>4415</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_on_PO_Received_For_All_FTS_Edited</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_35</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_13</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_5_A1</name>
        <label>Call CORS Send Email Flow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contract_Order_Routing_Sheet__c.CORS_Send_Email_Alert_On_Creation_Of_CORS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_12</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Failure_Element_10</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>3029</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS Less Than USD 500K Equivalent_Edited</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_11</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS_Less_Than_USD_500K_Equivalent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_12</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>4025</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS PO Received For All FTS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_13</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>4523</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS PO Received For All FTS_Edited</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_14</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>5021</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Send Email To Contract Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_2</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call CORS Send Email Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_6</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get CORS Records</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_7</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS Greater Than Equal To USD 500K Equivalent_Edited</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_8</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>2033</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS_above_equal_to_USD_500K_Equivalent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_9</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CORS - NextBio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myRule_12</name>
        <label>Check Status is Completed</label>
        <locationX>314</locationX>
        <locationY>821</locationY>
        <defaultConnector>
            <targetReference>myRule_17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check Status is Completed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CORS_Records</targetReference>
            </connector>
            <label>TRUE_Check Status is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17</name>
        <label>CORS_Greater_Than_Equal_To_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_Greater_Than_Equal_To_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_17</name>
            <conditionLogic>1 AND 2 AND ( (3 AND 4) OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Email_to_Contract_Admin_And_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Amount_USD__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consumables over 500K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>TRUE_CORS_Greater_Than_Equal_To_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>CORS_above_equal_to_USD_500K_Equivalent</label>
        <locationX>314</locationX>
        <locationY>1817</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_above_equal_to_USD_500K_Equivalent</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>1 AND 2 AND ( (3 AND 4) OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Amount_USD__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consumables over 500K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_CORS_above_equal_to_USD_500K_Equivalent</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>CORS - NextBio</label>
        <locationX>314</locationX>
        <locationY>2315</locationY>
        <defaultConnector>
            <targetReference>myRule_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS - NextBio</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>4 AND (1 OR 2 OR 3) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NextBio - Billable Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NextBio License – Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NextBio License – RUO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_CORS - NextBio</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_25</name>
        <label>CORS_Less_Than_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</label>
        <locationX>314</locationX>
        <locationY>2813</locationY>
        <defaultConnector>
            <targetReference>myRule_27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_Less_Than_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_25</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 8) AND (5 OR NOT(6) ) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Email_to_Contract_Admin_And_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consumables under 500K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Amount_USD__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other - Product Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>TRUE_CORS_Less_Than_USD_500K_Equivalent_For_All_Regions_Edited_Post_Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_27</name>
        <label>CORS_Less_Than_USD_500K_Equivalent</label>
        <locationX>314</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>myRule_30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_Less_Than_USD_500K_Equivalent</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_27</name>
            <conditionLogic>1 AND (2 OR 3 OR 8) AND ( 4 OR NOT(5) ) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consumables under 500K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blanket PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Amount_USD__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other - Product Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>TRUE_CORS_Less_Than_USD_500K_Equivalent</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_30</name>
        <label>CORS_All_FTS_Products_All_Regions</label>
        <locationX>314</locationX>
        <locationY>3809</locationY>
        <defaultConnector>
            <targetReference>myRule_33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_All_FTS_Products_All_Regions</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_30</name>
            <conditionLogic>4 AND (1 OR 2 OR 3) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FastTrack Genotyping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FastTrack Sequencing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whole Genome Sequencing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>TRUE_CORS_All_FTS_Products_All_Regions</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_33</name>
        <label>CORS_All_FTS_Products_All_Regions_Edited_Post_Completion</label>
        <locationX>314</locationX>
        <locationY>4307</locationY>
        <defaultConnector>
            <targetReference>myRule_35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CORS_All_FTS_Products_All_Regions_Edited_Post_Completion</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_33</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FastTrack Genotyping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FastTrack Sequencing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Whole Genome Sequencing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Email_to_Contract_Admin_And_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>TRUE_CORS_All_FTS_Products_All_Regions_Edited_Post_Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_35</name>
        <label>Check Send Email To Contract Admin</label>
        <locationX>314</locationX>
        <locationY>4805</locationY>
        <defaultConnectorLabel>FALSE_Check Send Email To Contract Admin</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_to_Contract_Admin_And_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>TRUE_Check Send Email To Contract Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Send Email And Copy Attachments On CORS Creation</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Send Email And Copy Attachments On CORS Creation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Send Email And Copy Attachments On CORS Creation</label>
        </rules>
    </decisions>
    <description>Add AMR Surbregion: AMR West</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;CORS : After Insert Update - &apos;+{!currentElement}</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_12_A2_8000407698</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Regional_Distribution_List__c}  != NULL,
{!$Record.Regional_Distribution_List__c} , NULL)</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_12_A2_6568570182</name>
        <dataType>String</dataType>
        <expression>&apos;CORS_Regional_DL_&apos;+IF(
    OR({!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Latin America&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Canada&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Central&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR NE&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Other&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Pacific&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Grail SR&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR South&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Corporate East&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR Corporate West&apos;,
           {!Get_CORS_Records.Account__r.Subregion__c} =&apos;AMR West&apos;
       ),
      CASE({!Get_CORS_Records.Account__r.Subregion__c},
                    &apos;AMR Latin America&apos;,&apos;AMR_Latin_America&apos;,
                    &apos;AMR Canada&apos;,&apos;AMR_Canada&apos;,
                    &apos;AMR Central&apos;,&apos;AMR_Central&apos;,
                    &apos;AMR NE&apos;,&apos;AMR_NE&apos;,
                    &apos;AMR Other&apos;,&apos;AMR_Other&apos;,
                    &apos;AMR Pacific&apos;,&apos;AMR_Pacific&apos;,
                    &apos;AMR Grail SR&apos;,&apos;AMR_Grail&apos;,
                    &apos;AMR South&apos;,&apos;AMR_South&apos;,
                    &apos;AMR Corporate East&apos;,&apos;AMR_Corporate_East&apos;,
                    &apos;AMR Corporate West&apos;,&apos;AMR_Corporate_West&apos;,
                    &apos;AMR West&apos;,&apos;AMR_West&apos;,
         NULL),
IF(
AND({!$Record.Territory_Region__c} = &apos;EUR&apos;,
OR({!Get_CORS_Records.Account__r.Subregion__c} = &apos;Med&apos;,
{!Get_CORS_Records.Account__r.Subregion__c} = &apos;Central&apos;,
{!Get_CORS_Records.Account__r.Subregion__c} = &apos;North&apos;,
{!Get_CORS_Records.Account__r.Subregion__c} = &apos;Germany&apos;,
{!Get_CORS_Records.Account__r.Subregion__c} = &apos;UK Ireland&apos;,
{!Get_CORS_Records.Account__r.Subregion__c} = &apos;France&apos;
)
),
CASE({!Get_CORS_Records.Account__r.Subregion__c},
&apos;Med&apos;,&apos;EUR_Med&apos;,
&apos;Central&apos;,&apos;EUR_Central&apos;,
&apos;North&apos;,&apos;EUR_North&apos;,
&apos;Germany&apos;,&apos;EUR_Germany&apos;,
&apos;UK Ireland&apos;,&apos;EUR_UK_IRL&apos;,
&apos;France&apos;,&apos;EUR_France&apos;,
&apos;EUR&apos;),
{!$Record.Territory_Region__c}
)
   )</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_12_A1_3624873839</name>
        <dataType>Number</dataType>
        <expression>CURRENCYRATE( TEXT({!$Record.CurrencyIsoCode} ) )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          NOT(ISBLANK({!$Record.Ultimate_Consignee__c} )),
          OR(
                 ISNEW(),
                 ISCHANGED({!$Record.Ultimate_Consignee__c} ) 
          )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
          NOT(ISBLANK({!$Record.Account__c} )),
          OR(
                 ISNEW(),
                 ISCHANGED({!$Record.Account__c} ) 
          )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CORS : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CORS : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CORS_Records</name>
        <label>Get CORS Records</label>
        <locationX>50</locationX>
        <locationY>929</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_12_A2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Order_Routing_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>myRule_35_A1</name>
        <label>Update Send Email To Contract Admin</label>
        <locationX>50</locationX>
        <locationY>4913</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_14</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Send_Email_to_Contract_Admin_And_Orders__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <object>Contract_Order_Routing_Sheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>5129</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>myRule_12_A2</name>
        <label>Set Regional DL</label>
        <locationX>50</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>myRule_17</targetReference>
        </connector>
        <flowName>CORS_Set_Delivery_List_Based_On_Region</flowName>
        <inputAssignments>
            <name>strCORSRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>strOriginalDL</name>
            <value>
                <elementReference>formula_3_myRule_12_A2_8000407698</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>strRegion</name>
            <value>
                <elementReference>formula_4_myRule_12_A2_6568570182</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
