force-app/main/default/flows/CRF_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update CRF Fields On Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element1</name>
        <label>Assign Current Failure Element</label>
        <locationX>358</locationX>
        <locationY>4589</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_CRF_3_Flag_Assignment</name>
        <label>Copy 1 of Update CRF 3 Flag Assignment</label>
        <locationX>72</locationX>
        <locationY>4097</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_3_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Desired_Shipment_Field_of_Opportunity_from_CRF_Assignment</name>
        <label>Copy 1 of Update Desired Shipment Field of Opportunity from CRF Assignment</label>
        <locationX>72</locationX>
        <locationY>3113</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Desired_Shipment_Install_Timelines_CRF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Desired_Shipment_or_Install_Timelines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRF_3_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CRF_1_Flag_No_on_Opportunity_Assignment</name>
        <label>Update CRF 1 Flag No on Opportunity Assignment</label>
        <locationX>72</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_1_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRF_2_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CRF_1_Flag_on_Opportunity_Assignment</name>
        <label>Update CRF 1 Flag on Opportunity Assignment</label>
        <locationX>72</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_1_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRF_1_Not_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CRF_2_Flag_Assignment</name>
        <label>Update CRF 2 Flag Assignment</label>
        <locationX>72</locationX>
        <locationY>2021</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_2_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CRF_2_Flag_No_Assignment</name>
        <label>Update CRF 2 Flag No Assignment</label>
        <locationX>72</locationX>
        <locationY>2813</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_2_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CRF_3_Flag_Assignment</name>
        <label>Update CRF 3 Flag Assignment</label>
        <locationX>72</locationX>
        <locationY>3605</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Customer_Readiness_Section_3_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRF_3_Not_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Desired_Shipment_Field_of_Opportunity_from_CRF_Assignment</name>
        <label>Update Desired Shipment Field of Opportunity from CRF Assignment</label>
        <locationX>72</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Desired_Shipment_Install_Timelines_CRF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Desired_Shipment_or_Install_Timelines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityVariable.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRF_2_Not_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Decision_First_Instrument_CRF_Creation</name>
        <label>Check Decision First Instrument CRF Creation</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_For_Instrument_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False to Check For Instrument Record Type</defaultConnectorLabel>
        <rules>
            <name>Check_First_Instrument_CRF_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_Creation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_Fields_On_Opportunity</targetReference>
            </connector>
            <label>Check First Instrument CRF Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Instrument_Record_Type</name>
        <label>Check For Instrument Record Type</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Decision_For_Instrument_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instrument</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRF_1_Completed</targetReference>
            </connector>
            <label>Check Decision For Instrument Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Variable</name>
        <label>Check Opportunity Variable</label>
        <locationX>358</locationX>
        <locationY>4373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityVariable.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Opportunity variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</name>
        <label>Check Update Desired Shipment Field of Opportunity from CRF</label>
        <locationX>204</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>CRF_2_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Desired_Shipment_Install_Timelines_CRF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Desired_Shipment_or_Install_Timelines__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Desired_Shipment_Field_of_Opportunity_from_CRF_Assignment</targetReference>
            </connector>
            <label>Decision Update Desired Shipment Field of Opportunity from CRF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</name>
        <label>Copy 1 of Check Update Desired Shipment Field of Opportunity from CRF</label>
        <locationX>204</locationX>
        <locationY>3005</locationY>
        <defaultConnector>
            <targetReference>CRF_3_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Decision_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Desired_Shipment_Install_Timelines_CRF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Desired_Shipment_or_Install_Timelines__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Desired_Shipment_Field_of_Opportunity_from_CRF_Assignment</targetReference>
            </connector>
            <label>Copy 1 of Decision Update Desired Shipment Field of Opportunity from CRF</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF1_Decision_Check</name>
        <label>CRF1 Decision Check</label>
        <locationX>204</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>CRF_1_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRF1_Opportunity_Decision_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_1_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_1_Flag_on_Opportunity_Assignment</targetReference>
            </connector>
            <label>CRF1 Opportunity Decision Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF1_Not_Complete_Decision_Check</name>
        <label>CRF1 Not Complete Decision Check</label>
        <locationX>204</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>CRF_2_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CRF1_Opportunity_Decision_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_1_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_1_Flag_No_on_Opportunity_Assignment</targetReference>
            </connector>
            <label>Copy 1 of CRF1 Opportunity Decision Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_1_Completed</name>
        <label>CRF 1 Completed</label>
        <locationX>358</locationX>
        <locationY>821</locationY>
        <defaultConnector>
            <targetReference>CRF_1_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 1 Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_1_Completed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6 AND (7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRFRecord.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedWon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRFRecord.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedLost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRFRecord.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedAbandoned</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Security_Clearance_Needed__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_BSL_Level_3_or_Equivalent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_DNA_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_RNA_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_Methyl_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_Microarray__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_Local_Instrument_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_Local_Linux_Server_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_BaseSpace_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRF1_Decision_Check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True CRF 1 Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_1_Not_Completed</name>
        <label>CRF 1 Not Completed</label>
        <locationX>358</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>CRF_2_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 1 Not Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_1_Not_Completed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6 AND (7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedWon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedLost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageClosedAbandoned</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Security_Clearance_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_BSL_Level_3_or_Equivalent__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_DNA_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_RNA_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_Methyl_seq__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application_Will_Be_Microarray__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_Local_Instrument_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_Local_Linux_Server_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Will_Use_BaseSpace_For_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRF1_Not_Complete_Decision_Check</targetReference>
            </connector>
            <label>True CRF 1 Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_2_Completed</name>
        <label>CRF 2 Completed</label>
        <locationX>358</locationX>
        <locationY>1805</locationY>
        <defaultConnector>
            <targetReference>CRF_2_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 2 Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_2_Completed</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Support_team_Scheduled_Site_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_Shipment_or_Install_Timelines__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Abandoned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Update_CRF_2_Flag</targetReference>
            </connector>
            <label>True CRF 2 Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_2_Not_Completed</name>
        <label>CRF 2 Not Completed</label>
        <locationX>358</locationX>
        <locationY>2597</locationY>
        <defaultConnector>
            <targetReference>CRF_3_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 2 Not Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_2_Not_Completed</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Support_team_Scheduled_Site_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_Shipment_or_Install_Timelines__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageCreate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageQualify</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageDevelop</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OpportunityStageProve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Update_CRF_2_Flag_No</targetReference>
            </connector>
            <label>True CRF 2 Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_3_Completed</name>
        <label>CRF 3 Completed</label>
        <locationX>358</locationX>
        <locationY>3389</locationY>
        <defaultConnector>
            <targetReference>CRF_3_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 3 Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_3_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Desired_Time_To_Full_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Lab_Space_NVSQ_Or_Bench_Available__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Abandoned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_CRF_3_Flag</targetReference>
            </connector>
            <label>True CRF 3 Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_3_Not_Completed</name>
        <label>CRF 3 Not Completed</label>
        <locationX>358</locationX>
        <locationY>3881</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False CRF 3 Not Completed</defaultConnectorLabel>
        <rules>
            <name>True_CRF_3_Not_Completed</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.CRF_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Desired_Time_To_Full_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Lab_Space_NVSQ_Or_Bench_Available__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Finalize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Abandoned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Update_CRF_3_Not_completed_Flag</targetReference>
            </connector>
            <label>True CRF 3 Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CRF_3_Flag</name>
        <label>Decision CRF 3 Flag</label>
        <locationX>204</locationX>
        <locationY>3497</locationY>
        <defaultConnector>
            <targetReference>CRF_3_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Decision_CRF_3_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_3_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_3_Flag_Assignment</targetReference>
            </connector>
            <label>Check Decision CRF 3 Flag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_CRF_2_Flag</name>
        <label>Decision Update CRF 2 Flag</label>
        <locationX>204</locationX>
        <locationY>1913</locationY>
        <defaultConnector>
            <targetReference>Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Update_CRF_2_Flag_on_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_2_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_2_Flag_Assignment</targetReference>
            </connector>
            <label>Decision Update CRF 2 Flag on opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_CRF_2_Flag_No</name>
        <label>Decision Update CRF 2 Flag No</label>
        <locationX>204</locationX>
        <locationY>2705</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Update_Desired_Shipment_Field_of_Opportunity_from_CRF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Decision_Update_CRF_2_Flag_on_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_2_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CRF_2_Flag_No_Assignment</targetReference>
            </connector>
            <label>Copy 1 of Decision Update CRF 2 Flag on opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_CRF_3_Not_completed_Flag</name>
        <label>Decision Update CRF 3 Not completed Flag</label>
        <locationX>204</locationX>
        <locationY>3989</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_CRF_3_Not_completed_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Name__r.Is_Customer_Readiness_Section_3_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_CRF_3_Flag_Assignment</targetReference>
            </connector>
            <label>Update CRF 3 Not completed Flag</label>
        </rules>
    </decisions>
    <description>Process to update the CRF Id and Creation Date of first Instrument CRF on Opportunity.</description>
    <formulas>
        <name>CRF1CompletedFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!CRFRecord.Opportunity_Name__r.CRF_ID__c} = {!CRFRecord.Id},
OR(
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt; {!$Label.OpportunityStageClosedWon},
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt;{!$Label.OpportunityStageClosedLost},
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt; {!$Label.OpportunityStageClosedAbandoned}
     ),
NOT(ISPICKVAL({!CRFRecord.Is_Security_Clearance_Needed__c},&apos;&apos;)),
NOT(ISPICKVAL({!CRFRecord.Is_BSL_Level_3_or_Equivalent__c}, &apos;&apos;)),
OR(
     {!CRFRecord.Application_Will_Be_DNA_seq__c},
     {!CRFRecord.Application_Will_Be_RNA_seq__c}, 
     {!CRFRecord.Application_Will_Be_Methyl_seq__c}, 
     {!CRFRecord.Application_Will_Be_Microarray__c}
     ), 
OR(
     {!CRFRecord.Will_Use_Local_Instrument_For_Data__c},
     {!CRFRecord.Will_Use_Local_Linux_Server_For_Data__c},
     {!CRFRecord.Will_Use_BaseSpace_For_Data__c}
      )
)</expression>
    </formulas>
    <formulas>
        <name>CRF1NotCompletedFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!CRFRecord.Opportunity_Name__r.CRF_ID__c} = {!CRFRecord.Id},
OR(
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt; {!$Label.OpportunityStageCreate},
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt;{!$Label.OpportunityStageQualify},
            TEXT({!CRFRecord.Opportunity_Name__r.StageName}) &lt;&gt; {!$Label.OpportunityStageDevelop}
     ),
NOT(
	 AND(
         NOT(ISPICKVAL({!CRFRecord.Is_Security_Clearance_Needed__c},&apos;&apos;)),
         NOT(ISPICKVAL({!CRFRecord.Is_BSL_Level_3_or_Equivalent__c}, &apos;&apos;)),
      OR(
         {!CRFRecord.Application_Will_Be_DNA_seq__c},
         {!CRFRecord.Application_Will_Be_RNA_seq__c}, 
         {!CRFRecord.Application_Will_Be_Methyl_seq__c}, 
         {!CRFRecord.Application_Will_Be_Microarray__c}
        ), 
      OR(
         {!CRFRecord.Will_Use_Local_Instrument_For_Data__c},
         {!CRFRecord.Will_Use_Local_Linux_Server_For_Data__c},
         {!CRFRecord.Will_Use_BaseSpace_For_Data__c}
        )
	  )
	)
)</expression>
    </formulas>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;CRF : After Insert Update - &apos;+{!currentElement}</expression>
    </formulas>
    <interviewLabel>CRF : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRF : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CRF_Fields_On_Opportunity</name>
        <label>Update CRF Fields On Opportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CRF_1_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRF_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRF_Creation_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRF_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRF_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Updated_By_System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_Name__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>94</locationX>
        <locationY>4481</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element1</targetReference>
        </faultConnector>
        <inputReference>OpportunityVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Decision_First_Instrument_CRF_Creation</targetReference>
        </connector>
        <object>Customer_Readiness_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>358</locationX>
        <locationY>4697</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CRFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Readiness_Form__c</objectType>
    </variables>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
