force-app/main/default/flows/ENBA_Case_Suggest_Billable_Flow_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>951</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Current record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <description>Suggests the Billable process Flow if an Installed Product has no active contracts. DCP-54039</description>
    <environments>Default</environments>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;ENBA Case Suggest Billable Flow Recommendation - &apos;+{!CurrentElement}</expression>
    </formulas>
    <interviewLabel>Case Suggest Billable Flow Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ENBA Case Suggest Billable Flow Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Suggest_Billable_Flow_Recommendation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Suggest_Billable_Flow_Recommendation</name>
        <label>Case Suggest Billable Flow Recommendation</label>
        <locationX>669</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseENBAListViewForKnowledge</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>Knowledge__kav</typeValue>
            </dataTypeMappings>
            <extensionName>c:caseENBAListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>listTitle</name>
                <value>
                    <stringValue>List Of Published Knowledge Articles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listViewName</name>
                <value>
                    <stringValue>Knowledge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recommendationName</name>
                <value>
                    <elementReference>RecommendationTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>contextRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>947</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;{!FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Exception Log</description>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>1059</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FaultMessage</description>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRecommendationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case Suggest Billable Flow Recommendation</description>
        <name>RecommendationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>This Installed Product does not have an Active Service Contract Associated with</stringValue>
        </value>
    </variables>
</Flow>
