force-app/main/default/flows/Field_Support_Deactivation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Field_Support_User_Check</name>
        <label>Field Support User Check</label>
        <locationX>413</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_to_Field_Support_User_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjFieldSupport.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Support_user_active_status</targetReference>
            </connector>
            <label>User to Field Support User Match</label>
        </rules>
    </decisions>
    <interviewLabel>Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Support: Deactivation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Field_support_user_data_retrieval</name>
        <label>Field support user data retrieval</label>
        <locationX>190</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Field_Support_User_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjUser.Id</elementReference>
            </value>
        </filters>
        <object>SVMXC__Service_Group_Members__c</object>
        <outputReference>ObjFieldSupport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SVMXC__Active__c</queriedFields>
        <queriedFields>SVMXC__Salesforce_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User_data_retrieval</name>
        <label>User data retrieval</label>
        <locationX>191</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Field_support_user_data_retrieval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>ObjUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Field_Support_user_active_status</name>
        <label>Update Field Support user active status</label>
        <locationX>418</locationX>
        <locationY>488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjFieldSupport.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SVMXC__Active__c</field>
            <value>
                <elementReference>ObjUser.IsActive</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Service_Group_Members__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>66</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>User_data_retrieval</targetReference>
        </connector>
    </start>
    <status>Obsolete</status> 
    <variables>
        <name>ObjFieldSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <name>ObjUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>VarFieldSupport_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFieldSupportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
