force-app/main/default/flows/Installed_Product_Self_Install_Survey_Qualtrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Date_Shipped_Outbound_Message_CP</name>
        <label>Send Date Shipped Outbound Message CP</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <actionName>InstalledProductOutboundMessageHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCP</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InstalledProductOutboundMessageHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Date_Shipped_Outbound_Message_Direct</name>
        <label>Send Date Shipped Outbound Message Direct</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <actionName>InstalledProductOutboundMessageHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCP</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InstalledProductOutboundMessageHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Outbound_Message_CP</name>
        <label>Send Outbound Message CP</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>InstalledProductOutboundMessageHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCP</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InstalledProductOutboundMessageHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Outbound_Message_Direct</name>
        <label>Send Outbound Message Direct</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <actionName>InstalledProductOutboundMessageHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCP</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InstalledProductOutboundMessageHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>Addition entry criteria for checking the cross-object fields</description>
        <name>Additional_Entry_Criteria</name>
        <label>Additional Entry Criteria</label>
        <locationX>974</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Condition_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkNameAndEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.cs_Apex_Settings__c.Bypass_All_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Family_Mapping</targetReference>
            </connector>
            <label>If Condition Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outbound_Message_Decision</name>
        <label>Outbound Message Decision</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Installed_Check_for_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Date_Installed__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Family_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Company__r.VAD_Channel_Partner_Territory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Outbound_Message_CP</targetReference>
            </connector>
            <label>Date Installed Check for Partner</label>
        </rules>
        <rules>
            <name>Date_Installed_Check_for_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Date_Installed__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Family_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Company__r.VAD_Channel_Partner_Territory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Outbound_Message_Direct</targetReference>
            </connector>
            <label>Date Installed Check for Direct</label>
        </rules>
        <rules>
            <name>Date_Shipped_Check_for_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateShippedPlus40</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Family_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Company__r.VAD_Channel_Partner_Territory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Date_Shipped_Outbound_Message_CP</targetReference>
            </connector>
            <label>Date Shipped Check for Partner</label>
        </rules>
        <rules>
            <name>Date_Shipped_Check_for_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DateShippedPlus40</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Family_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Company__r.VAD_Channel_Partner_Territory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Date_Shipped_Outbound_Message_Direct</targetReference>
            </connector>
            <label>Date Shipped Check for Direct</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Contains check for Account&apos;s Name and Contact&apos;s Email</description>
        <name>checkNameAndEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(CONTAINS({!$Record.SVMXC__Contact__r.Email}, &apos;@illumina.com&apos;)),
    NOT(CONTAINS({!$Record.SVMXC__Company__r.Name}, &apos;Illumina&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>DateShippedPlus40</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SVMXC__Date_Shipped__c}+40</expression>
    </formulas>
    <interviewLabel>Installed Product Self Install Survey: Qualtrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Installed Product Self Install Survey: Qualtrics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve Product Family Mapping records</description>
        <name>Get_Product_Family_Mapping</name>
        <label>Get Product Family Mapping</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outbound_Message_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Product__r.Family</elementReference>
            </value>
        </filters>
        <filters>
            <field>Self_Install__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Family_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Additional_Entry_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Instrument</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sent_to_Qualtrics__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Installed_Product__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-13</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
