force-app/main/default/flows/Master_Data_Request_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_6_A1</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1337</locationY>
        <actionName>MasterDataRequestController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_8</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstMDRID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update UC Sales Org To Blank String</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_1</name>
        <label>Assign Current Failure Element 1</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get MDR Records</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_2</name>
        <label>Assign Current Failure Element 2</label>
        <locationX>314</locationX>
        <locationY>1445</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_3</name>
        <label>Assign Current Failure Element 3</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Prospect Account&apos;s Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element_4</name>
        <label>Assign Current Failure Element 4</label>
        <locationX>314</locationX>
        <locationY>2441</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reset Bypass Flag</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myRule_1</name>
        <label>Ultimate Consignee Is Null</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Ultimate Consignee Is Null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Ultimate Consignee Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Is Updated by System?</label>
        <locationX>314</locationX>
        <locationY>2225</locationY>
        <defaultConnectorLabel>FALSE_Is Updated by System?</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Updated_By_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Is Updated by System?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Account Or Ultimate Consignee Not Null</label>
        <locationX>314</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Account Or Ultimate Consignee Not Null</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Account Or Ultimate Consignee Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Check for MDG Mail notification send</label>
        <locationX>314</locationX>
        <locationY>1229</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check for MDG Mail notification send</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Territory_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Check for MDG Mail notification send</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>Is Prospect Account / Channel Partner Account</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Prospect Account / Channel Partner Account</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_3_Formula_8820705242</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade_to_Sold_To</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade_to_Ultimate_Consignee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_4_Formula_8345138953</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_5_Formula_2348262735</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_Is Prospect Account / Channel Partner Account</label>
        </rules>
    </decisions>
    <description>Migrated from the Master Data Request: Send Email When Request Saved,Change Prospect Account Status and Update Sales Org process using multiple criteria.
Sends email to the regional data steward when MDG Request saved and changes Account status to Pending Upgrade when Active Prospect Account. Update Sales Org of Sold To and Ultimate Consignee</description>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Master Data Request : After Insert Update - &apos;+{!currentElement}</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_3_A1_1918412028</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Get_MDR_Records.Ultimate_Consignee__c} )),
    TEXT({!Get_MDR_Records.Ultimate_Consignee__r.BillingCountryCode}),
    &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_3_Formula_8820705242</name>
        <dataType>String</dataType>
        <expression>{!$Label.AccountProspect}</expression>
    </formulas>
    <formulas>
        <name>formula_4_Formula_8345138953</name>
        <dataType>String</dataType>
        <expression>{!$Label.AccountRecordTypeDeveloperNameChannelPartnerProspect}</expression>
    </formulas>
    <formulas>
        <name>formula_5_Formula_2348262735</name>
        <dataType>String</dataType>
        <expression>{!$Label.MasterDataRequestUpgradeToChannelPartner}</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
         ISNEW(),
         ISBLANK({!$Record.Ultimate_Consignee__c})
    ),
    AND(
        ISCHANGED({!$Record.Ultimate_Consignee__c}),
        ISBLANK({!$Record.Ultimate_Consignee__c})
    ),
AND(
        ISCHANGED({!$Record.Trigger_Email__c}),
          {!$Record.Trigger_Email__c} = true
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
         ISNEW(),
    AND(
        ISCHANGED({!$Record.Ultimate_Consignee__c}),
        NOT(ISBLANK({!$Record.Ultimate_Consignee__c}))
    )
)</expression>
    </formulas>
    <interviewLabel>Master Data Request : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master Data Request : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MDR_Records</name>
        <label>Get MDR Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Data_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Reset Bypass Flag</label>
        <locationX>50</locationX>
        <locationY>2333</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Is_Updated_By_System__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update UC Sales Org To Blank String</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Is_Updated_By_System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Consignee_Sales_Org__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A1</name>
        <label>Update Prospect Account&apos;s Status</label>
        <locationX>50</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Pending Upgrade</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account_Name__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MDR_Records</targetReference>
        </connector>
        <object>Master_Data_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>2549</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>myRule_3_A1</name>
        <label>Update Accounts Sales Org Fields</label>
        <locationX>182</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
        <flowName>MDG_Request_Update_Accounts_Sales_Org</flowName>
        <inputAssignments>
            <name>varAccountCountryCode</name>
            <value>
                <elementReference>Get_MDR_Records.Account_Name__r.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMDGId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUltimateConsigneeCountry</name>
            <value>
                <elementReference>formula_1_myRule_3_A1_1918412028</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
