force-app/main/default/flows/MDG_Request_Send_Email_On_Record_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_Change_Address_Request</name>
        <label>Send Email for Change Address Request</label>
        <locationX>26</locationX>
        <locationY>249</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ChangeAddressRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Other_Change_Request</name>
        <label>Send Email For Other Change Request</label>
        <locationX>107</locationX>
        <locationY>444</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewRelatedPartnerAccountOtherChangeRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Sales_Org_Extension</name>
        <label>Send Email For Sales Org Extension</label>
        <locationX>967</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>extendToSalesOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Upgrade_to_Distributor</name>
        <label>Send Email For Upgrade to Distributor</label>
        <locationX>488</locationX>
        <locationY>587</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpgradetoDistributor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Upgrade_to_Sold_To</name>
        <label>Send Email For Upgrade to Sold To</label>
        <locationX>738</locationX>
        <locationY>460</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpgradetoSoldTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Upgrade_to_Ultimate_Consignee</name>
        <label>Send Email For Upgrade to Ultimate Consignee</label>
        <locationX>988</locationX>
        <locationY>243</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpgradetoUltimateConsignee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Segmentation_Change_Request</name>
        <label>Send Email Segmentation Change Request</label>
        <locationX>260</locationX>
        <locationY>512</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegmentationChangeRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_New_Related_Partner_Account</name>
        <label>Send Email to New Related Partner Account</label>
        <locationX>44</locationX>
        <locationY>352</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewRelatedPartnerAccountOtherChangeRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varReceiversEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_Emails_for_DL</name>
        <label>Found Emails for DL?</label>
        <locationX>482</locationX>
        <locationY>87</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Emails_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReceiversEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Based_On_MDG_Request_Record_Type</targetReference>
            </connector>
            <label>Emails found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Based_On_MDG_Request_Record_Type</name>
        <label>Send Email Based On MDG Request Record Type</label>
        <locationX>484</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_Email_When_Record_Type_Change_Address_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varChangeAddressRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_Change_Address_Request</targetReference>
            </connector>
            <label>Send Email When Record Type Change Address Request</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_New_Related_Partner_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNewRelatedPartnerAcc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_New_Related_Partner_Account</targetReference>
            </connector>
            <label>Send Email When Record Type New Related Partner Account</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Other_Change_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOtherChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Other_Change_Request</targetReference>
            </connector>
            <label>Send Email When Record Type Other Change Request</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Segmentation_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSegmentationChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Segmentation_Change_Request</targetReference>
            </connector>
            <label>Send Email When Record Type Segmentation Change Request</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Upgrade_to_Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUpgradetoDistributor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Upgrade_to_Distributor</targetReference>
            </connector>
            <label>Send Email When Record Type Upgrade to Distributor</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Upgrade_to_Sold_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varUpgradetoSoldTo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Upgrade_to_Sold_To</targetReference>
            </connector>
            <label>Send Email When Record Type Upgrade to Sold To</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Upgrade_to_Ultimate_Consignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUpgradetoUltimateConsignee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Upgrade_to_Ultimate_Consignee</targetReference>
            </connector>
            <label>Send Email When Record Type Upgrade to Ultimate Consignee</label>
        </rules>
        <rules>
            <name>Send_Email_When_Record_Type_Extend_to_Sales_Org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varExtendToSalesOrg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Sales_Org_Extension</targetReference>
            </connector>
            <label>Send Email When Record Type Extend to Sales Org</label>
        </rules>
    </decisions>
    <interviewLabel>MDG Request: Send Email On Record Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDG Request: Send Email On Record Save</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Regional_Email_List</name>
        <label>Fetch Regional Email List</label>
        <locationX>219</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Emails_for_DL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTerritoryRegion</elementReference>
            </value>
        </filters>
        <object>Code_Parameter__mdt</object>
        <outputAssignments>
            <assignToReference>varReceiversEmail</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Fetch_Regional_Email_List</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ChangeAddressRequest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}
Type: {!varType}

New Address: {!varNewAddress}

New Country: {!varNewCountry}

New City: {!varNewCity}

New Zip/Postal Code: {!varNewZipPostalCode}

New State/Province: {!varNewStateProvince}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>extendToSalesOrg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Additional Request Details:

Name: {!varName}

Sold To Account Sales Org: {!varAccountSalesOrg}

Sold To Distribution Channel: {!varSoldToDC}

Ultimate Consignee: {!varUltimateConsignee}

Ultimate Consignee ERP ID: {!varUCERPId}

Ultimate Consignee Sales Org: {!varUCSalesOrg}

Distributor: {!varDistributor}

Distributor ERP Id: {!varDistributorERPId}

Distributor Distribution Channel: {!varDistributorDC}

Ship To: {!varShipTo}

Ship To Distribution Channel: {!varShipToDC}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>NewRelatedPartnerAccountOtherChangeRequest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}

Type: {!varType}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>SegmentationChangeRequest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}

Type: {!varType}

New Primary Market Segment: {!varNewPrimaryMarketSegment}

New Clinical Type: {!varNewClinicalType}

New Lab Type: {!varNewLabType}

New Customer Type: {!varNewCustomerType}

New Tier: {!varNewTier}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!varERPId}: {!varAccountName} - {!varRecordTypeName}</text>
    </textTemplates>
    <textTemplates>
        <name>UpgradetoDistributor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}

Type: {!varType}

Channel Partner Type: {!varChannelPartnerType}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>UpgradetoSoldTo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}

Type: {!varType}

Contact Name: {!varContactName}

Contact Phone: {!varContactPhone}

Contact Email: {!varContactEmail}

Payer Name: {!varPayerName}

Was Setup Form Sent: {!varWasSetupFormSent}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>UpgradetoUltimateConsignee</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Request Type: {!varRecordTypeName}

Account Name: {!varAccountName}

ERP ID: {!varERPId}

Requester: {!varFirstName} {!varLastName}

Requester Email: {!varEmail}

Name: {!varName}

Type: {!varType}

Primary Distributor: {!varPrimaryDistributor}

Primary Customer Account: {!varPrimaryCustomerAccount}

Comments: {!varComments}

Created By: {!varCreatedBy} {!varCreatedByLastName}</text>
    </textTemplates>
    <variables>
        <name>collVarEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChangeAddressRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Change Address Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>varChannelPartnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedByLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDistributorDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDistributorERPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varERPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExtendToSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMDGRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewClinicalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewLabType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewPrimaryMarketSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewRelatedPartnerAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewStateProvince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewZipPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOtherChangeRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPayerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCustomerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReceiversEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSegmentationChangeRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShipToDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSoldToDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerritoryRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUCERPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUCSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUltimateConsignee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpgradetoDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpgradetoSoldTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUpgradetoUltimateConsignee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWasSetupFormSent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
