force-app/main/default/flows/Opportunity_Contact_Role_Update_IsPrimaryContactFromUC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Contact_is_in_UC_List</name>
        <label>Contact is in UC List</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Role_is_from_UC_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_Role_is_from_UC_Contact.Contact_18_Char_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contact_Role_is_from_UC_Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Role_with_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If the Primary Contact is from Ultimate Consignee of the opportunity, then this field will be checked</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Contact Role : Update IsPrimaryContactFromUC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Role : Update IsPrimaryContactFromUC</label>
    <loops>
        <name>Check_Contact_Role_is_from_UC_Contact</name>
        <label>Get contacts List from UC Contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contacts_from_UC_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_is_in_UC_List</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_from_UC_Account</name>
        <label>Get Contacts from UC Account</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Role_is_from_UC_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Ultimate_Consignee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Role_with_True</name>
        <label>Update Contact Role with True</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>IsPrimaryContactFromUC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_from_UC_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
