force-app/main/default/flows/Opportunity_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Stage_and_Forecast_Category_Validation_Error</name>
        <label>Stage and Forecast Category Validation Error</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>{!validationErrorMessage}</errorMessage>
            <fieldSelection>Opportunity_Forecast_Category__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Create Exception Logs only if we are updating the target fields.</description>
        <name>Check_if_fields_updated</name>
        <label>Check fields updated</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fields_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategoryName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Forecast_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_and_Forecast_Category_Validation_Error</targetReference>
            </connector>
            <label>Fields Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_and_Forecast_Category_Validation</name>
        <label>Check Stage and Forecast Category Validation</label>
        <locationX>1436</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_if_fields_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Custom Error</defaultConnectorLabel>
        <rules>
            <name>Validation_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolFireCustomError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_Closed_Platform_Event</targetReference>
            </connector>
            <label>Validation Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Needs_Update</name>
        <label>Needs Update?</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Insert_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Insert_Update_Opportunity</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_type</name>
        <label>Operation type</label>
        <locationX>875</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Auto_Opportunity_Forecast_Category_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Auto_Opportunity_Forecast_Category_Changed</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Needs_Update</name>
        <label>Needs Update?</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Update_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Update_Update_Opportunity</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Fix PRB0050325 on top of V18 (Production)</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Opportunity after insert</description>
        <name>After_Insert_Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity after update</description>
        <name>After_Update_Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Operation_type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Closed_and_Open_Stage_and_Forecast_Category_Validation</name>
        <label>Auto Closed and Open Stage and Forecast Category Validation</label>
        <locationX>1436</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Stage_and_Forecast_Category_Validation</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Closed_and_Open_Stage_and_Forecast_Category_Validation</flowName>
        <inputAssignments>
            <name>objOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>boolFireCustomError</assignToReference>
            <name>boolFireCustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>validationErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Insert_Auto_Opportunity_Forecast_Category_Changed</name>
        <label>Auto Opportunity Forecast Category Changed</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Insert_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Opportunity_Forecast_Category_Changed</flowName>
        <inputAssignments>
            <name>hasChanged</name>
            <value>
                <elementReference>boolUpdateOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objCurrentOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objPriorOpportunity</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>boolUpdateOpportunity</assignToReference>
            <name>hasChanged</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>objCurrentOpportunity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Insert_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</name>
        <label>Auto Update Probability Based on Stage and Forecast Category</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Insert_Needs_Update</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</flowName>
        <inputAssignments>
            <name>HasChanged</name>
            <value>
                <elementReference>boolUpdateOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objOpportunityTriggered</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objPriorOpportunity</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>boolUpdateOpportunity</assignToReference>
            <name>HasChanged</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>objOpportunityTriggered</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Opportunity_Stage_Closed_Platform_Event</name>
        <label>Opportunity Stage Closed Platform Event</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Create_Opp_Field_Updates_Platfom_Event</flowName>
        <inputAssignments>
            <name>objCurrentOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objPriorOpportunity</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Auto_Opportunity_Forecast_Category_Changed</name>
        <label>Auto Opportunity Forecast Category Changed</label>
        <locationX>1436</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Auto_Closed_and_Open_Stage_and_Forecast_Category_Validation</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Opportunity_Forecast_Category_Changed</flowName>
        <inputAssignments>
            <name>hasChanged</name>
            <value>
                <elementReference>boolUpdateOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isInsert</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objCurrentOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objPriorOpportunity</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>boolUpdateOpportunity</assignToReference>
            <name>hasChanged</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>objCurrentOpportunity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</name>
        <label>Auto Update Probability Based on Stage and Forecast Category</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Needs_Update</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category</flowName>
        <inputAssignments>
            <name>HasChanged</name>
            <value>
                <elementReference>boolUpdateOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsInsert</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objOpportunityTriggered</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objPriorOpportunity</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>boolUpdateOpportunity</assignToReference>
            <name>HasChanged</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>objOpportunityTriggered</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>boolFireCustomError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>boolUpdateOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>validationErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
