force-app/main/default/flows/Opportunity_Auto_Update_Probability_Based_on_Stage_and_Forecast_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Probability_to_10</name>
        <label>Set Probability to 10</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_20</name>
        <label>Set Probability to 20</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability20</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_40</name>
        <label>Set Probability to 40</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability40</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_60</name>
        <label>Set Probability to 60</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_70</name>
        <label>Set Probability to 70</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability70</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_80</name>
        <label>Set Probability to 80</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability80</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Probability_to_90</name>
        <label>Set Probability to 90</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityTriggered.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability90</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Probability10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Probability20</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Probability40</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>40.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Sets the value of probability to 60%</description>
        <name>Probability60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Sets the probability value to 70</description>
        <name>Probability70</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>70.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Assign probability a value of 80%</description>
        <name>Probability80</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Probability90</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>This step will decide what the probability of the opportunity</description>
        <name>Probability_Decision</name>
        <label>Probability Decision</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Probability_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Forecasted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_10</targetReference>
            </connector>
            <label>Probability 10</label>
        </rules>
        <rules>
            <name>Probability_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Forecasted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_20</targetReference>
            </connector>
            <label>Probability 20</label>
        </rules>
        <rules>
            <name>Probability_40</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiate &amp; Resolve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Forecasted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_40</targetReference>
            </connector>
            <label>Probability 40</label>
        </rules>
        <rules>
            <name>Probability_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upside</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_60</targetReference>
            </connector>
            <label>Probability 60</label>
        </rules>
        <rules>
            <name>Probability_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit-At Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_70</targetReference>
            </connector>
            <label>Probability 70</label>
        </rules>
        <rules>
            <name>Probability_80</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiate &amp; Resolve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_80</targetReference>
            </connector>
            <label>Probability 80</label>
        </rules>
        <rules>
            <name>Probability_90</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability_to_90</targetReference>
            </connector>
            <label>Probability 90</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_or_Forecast_have_changed</name>
        <label>Stage or Forecast have changed</label>
        <locationX>1568</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Have_changed</name>
            <conditionLogic>(1 AND 2) AND (3 OR (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.ForecastCategoryName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objPriorOpportunity.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOpportunityTriggered.Opportunity_Forecast_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objPriorOpportunity.Opportunity_Forecast_Category__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Probability_Decision</targetReference>
            </connector>
            <label>Have changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Auto Update Probability Based on Stage and Forecast Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Auto Update Probability Based on Stage and Forecast Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_or_Forecast_have_changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HasChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objOpportunityTriggered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objPriorOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
