force-app/main/default/flows/Opportunity_Auto_Create_Opp_Field_Updates_Platfom_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Has_Stage_Changed</name>
        <label>Has Stage Changed?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Has_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>objCurrentOpportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objPriorOpportunity.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Abandoned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCurrentOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event</targetReference>
            </connector>
            <label>Has Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Auto Create Field Update Platfom Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Auto Create Opp Field Updates Platfom Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>CreatedById__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fields_Name__c</field>
            <value>
                <stringValue>Stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>objCurrentOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Values__c</field>
            <value>
                <elementReference>objCurrentOpportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Field_Updates__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Stage_Changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objCurrentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>objPriorOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
