force-app/main/default/flows/Parts_Order_Notify_Primary_Secondary_FSE_for_review_and_Approval_of_Parts_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Fetch_Email_for_Internal_Users</name>
        <label>Invoke Fetch Email for Internal Users</label>
        <locationX>975</locationX>
        <locationY>1263</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Partner_Emails_List_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>NotificationList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>AllUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>objContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>PartsOrderID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>ObjPartsOrder.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>ObjPartsOrder.Requested_By_Name__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ListDirectUsersEmails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoke_fetchEmails_for_Partner</name>
        <label>Invoke fetchEmails for Partner</label>
        <locationX>653</locationX>
        <locationY>1176</locationY>
        <actionName>FetchUserEmailIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoke_Fetch_Email_for_Internal_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>boolPartnerUser</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstEnabledNotifications</name>
            <value>
                <elementReference>NotificationList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstUserRoles</name>
            <value>
                <elementReference>AllUserRoles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAccountId</name>
            <value>
                <elementReference>objContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordId</name>
            <value>
                <elementReference>PartsOrderID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRecordName</name>
            <value>
                <elementReference>ObjPartsOrder.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strRequestor</name>
            <value>
                <elementReference>ObjPartsOrder.Requested_By_Name__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ListPartnerUserEmails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sending Email to Internal Users</description>
        <name>Send_Email_For_Internal_Users</name>
        <label>Send Email For Internal Users</label>
        <locationX>1596</locationX>
        <locationY>1654</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateToNotifyPrimaryFAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ListDirectUsersEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Review and approval of Part Order</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Email to Primary FSE.</description>
        <name>Send_Email_To_Partner_Users</name>
        <label>Send Email to Partner Users</label>
        <locationX>1615</locationX>
        <locationY>1378</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_if_Internal_User_Email_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateToNotifySecondaryFAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ListPartnerUserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Review and approval of Part Order</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ContactId</name>
        <label>Assign ContactId</label>
        <locationX>317</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartsOrderUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>2732</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fetch Parts Order record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2632</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Parts Order Line</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2335</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fetch ContactId from Requested By User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2187</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetAccountId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2186</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoke fetchEmails for Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2248</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoke Fetch Email for Internal Users</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2647</locationX>
        <locationY>1423</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email to Partner Users</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2773</locationX>
        <locationY>1651</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email For Internal Users</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consumable_Records_Counter</name>
        <label>Consumable Records Counter</label>
        <locationX>1240</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>ConsumableCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Parts_Order_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsConsumable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PartOrderLinesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FASUsersAssignment</name>
        <label>FASUsersAssignment</label>
        <locationX>1489</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>AllUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Primary Field Application Scientist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Secondary Field Application Scientist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_fetchEmails_for_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FSEUsersAssignment</name>
        <label>FSEUsersAssignment</label>
        <locationX>1362</locationX>
        <locationY>1147</locationY>
        <assignmentItems>
            <assignToReference>AllUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Primary Field Service Engineer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllUserRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Secondary Field Service Engineer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckConsumable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotifiactionAssignement</name>
        <label>NotifiactionAssignement</label>
        <locationX>306</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>NotificationList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Parts Order Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_PartOrderLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spare_Records_Counter</name>
        <label>Spare Records Counter</label>
        <locationX>1899</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>SpareCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Parts_Order_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSpare</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PartOrderLinesLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_PartOrderLine_Records</name>
        <label>Check For PartOrderLine Records</label>
        <locationX>600</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Invoke_fetchEmails_for_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parts_Order_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartOrderLinesLoop</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Internal_User_Email_Exists</name>
        <label>Check if Internal User Email Exists</label>
        <locationX>1215</locationX>
        <locationY>1562</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InternalUserEmailExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListDirectUsersEmails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_For_Internal_Users</targetReference>
            </connector>
            <label>InternalUserEmailExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Partner_Emails_List_is_not_null</name>
        <label>Check if Partner Emails List is not null</label>
        <locationX>1201</locationX>
        <locationY>1373</locationY>
        <defaultConnector>
            <targetReference>Check_if_Internal_User_Email_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartnerUserEmailPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListPartnerUserEmails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Partner_Users</targetReference>
            </connector>
            <label>PartnerUserEmailPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Product_Type</name>
        <label>Check Service Product Type</label>
        <locationX>1298</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>CheckSpare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spares_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartOrderLinesLoop.Service_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spare_Records_Counter</targetReference>
            </connector>
            <label>Spares Type</label>
        </rules>
        <rules>
            <name>Consumables_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartOrderLinesLoop.Service_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumable_Records_Counter</targetReference>
            </connector>
            <label>Consumables Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckConsumable</name>
        <label>CheckConsumable</label>
        <locationX>1318</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>Invoke_fetchEmails_for_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIsConsumable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsConsumable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FASUsersAssignment</targetReference>
            </connector>
            <label>CheckIsConsumable</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSpare</name>
        <label>CheckSpare</label>
        <locationX>926</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>CheckConsumable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIsSpare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSpare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSEUsersAssignment</targetReference>
            </connector>
            <label>CheckIsSpare</label>
        </rules>
    </decisions>
    <description>Parts Order: Notify Primary Secondary FSE for review and Approval of Parts Order via Email</description>
    <environments>Default</environments>
    <formulas>
        <name>CPPortalURLandRecord</name>
        <dataType>String</dataType>
        <expression>{!$Label.Channel_Partner_Portal_Url}+&apos;s/rma-shipment-order/&apos;+{!PartsOrderID}</expression>
    </formulas>
    <formulas>
        <name>DirectURLandRecord</name>
        <dataType>String</dataType>
        <expression>{!$Label.Illumina_Portal_Lightning_Url}+{!PartsOrderID}</expression>
    </formulas>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Parts Order: Notify Primary Secondary FSE for review and Approval of Parts Order -&apos;+{!CurrentElement}</expression>
    </formulas>
    <interviewLabel>Parts Order: Notify Primary Secondary FSE for review and Approval of Parts Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parts Order: Notify Primary Secondary FSE for review and Approval of Parts Order</label>
    <loops>
        <name>PartOrderLinesLoop</name>
        <label>PartOrderLinesLoop</label>
        <locationX>959</locationX>
        <locationY>554</locationY>
        <collectionReference>Get_Parts_Order_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Service_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckSpare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch ContactId from Requested By UserId</description>
        <name>Fetch_ContactId_from_Requested_By_User</name>
        <label>Fetch ContactId from Requested By User</label>
        <locationX>603</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ContactId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjPartsOrder.Requested_By__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>PartsOrderUser</outputReference>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch Parts Order record based on ID</description>
        <name>Fetch_Parts_Order_record</name>
        <label>Fetch Parts Order record</label>
        <locationX>618</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parts_Order_Line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartsOrderID</elementReference>
            </value>
        </filters>
        <object>SVMXC__RMA_Shipment_Order__c</object>
        <outputReference>ObjPartsOrder</outputReference>
        <queriedFields>Requested_By__c</queriedFields>
        <queriedFields>SVMXC__Company__c</queriedFields>
        <queriedFields>End_Customer_Account__c</queriedFields>
        <queriedFields>Record_Url__c</queriedFields>
        <queriedFields>End_customer_Account_Name__c</queriedFields>
        <queriedFields>Requested_By_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parts_Order_Line</name>
        <label>Get Parts Order Line</label>
        <locationX>308</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_ContactId_from_Requested_By_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__RMA_Shipment_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartsOrderID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SVMXC__RMA_Shipment_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountId</name>
        <label>GetAccountId</label>
        <locationX>604</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotifiactionAssignement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Fetch_Parts_Order_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Exception Log</description>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>2971</locationX>
        <locationY>875</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>PartsOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailTemplateToNotifyPrimaryFAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;User(s),&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ObjPartsOrder.Requested_By_Name__c} from {!ObjPartsOrder.End_customer_Account_Name__c} has submitted a parts order : &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;{!ObjPartsOrder.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please review the part order lines&amp;nbsp;{!DirectURLandRecord} and make any adjustments you deem necessary.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Once you have reviewed and approved this order, please select the &quot;Request All Part Order Lines&quot; option to send this order on to fulfillment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Illumina&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Template To Notify Primary FSE</description>
        <name>EmailTemplateToNotifyPrimaryFSE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dear {!objFieldSupport_PrimaryFSE.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ObjPartsOrder.Requested_By_Name__c} from {!ObjPartsOrder.End_customer_Account_Name__c} has submitted a parts order.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the part order lines {!ObjPartsOrder.Record_Url__c} and make any adjustments you deem necessary.&lt;/p&gt;&lt;p&gt;Once you have reviewed and approved this order, please select the &quot;Request All Part Order Lines&quot; option to send this order on to fulfillment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Illumina&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateToNotifySecondaryFAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;User(s),&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ObjPartsOrder.Requested_By_Name__c} from {!ObjPartsOrder.End_customer_Account_Name__c} has submitted a parts order : &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;{!ObjPartsOrder.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please review the part order lines&amp;nbsp;{!CPPortalURLandRecord} and make any adjustments you deem necessary.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Once you have reviewed and approved this order, please select the &quot;Request All Part Order Lines&quot; option to send this order on to fulfillment.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Thanks,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Illumina&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Template to notify Secondary FSE</description>
        <name>EmailTemplateToNotifySecondaryFSE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear  {!objFieldSupport_SecondaryFSE.Name}

{!ObjPartsOrder.Requested_By_Name__c} from {!ObjPartsOrder.End_customer_Account_Name__c} has submitted a parts order.

Please review the part order lines {!ObjPartsOrder.Record_Url__c} and make any adjustments you deem necessary. 
Once you have reviewed and approved this order, please select the &quot;Request All Part Order Lines&quot; option to send this order on to fulfillment.

Thanks,
Illumina</text>
    </textTemplates>
    <variables>
        <name>allocateVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AllPartsOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__RMA_Shipment_Line__c</objectType>
    </variables>
    <variables>
        <name>AllUserEmailIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllUserRoles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllUserRolesObj</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <name>ConsumableCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsConsumable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsSpare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDirectUsersEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPartnerUserEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objFieldSupport_PrimaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <description>Stores the Field Support record having Primary FSE Email ID</description>
        <name>objFieldSupport_PrimaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <name>objFieldSupport_SecondaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <description>stores the Field Support Object for Secondary FSE</description>
        <name>objFieldSupport_SecondaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <description>Parts Order Object</description>
        <name>ObjPartsOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__RMA_Shipment_Order__c</objectType>
    </variables>
    <variables>
        <name>objPrimaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <description>objPrimaryFSE object of type &apos;Account To field Support&apos;</description>
        <name>objPrimaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <name>objSecondaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <description>Stores the value of type Account To Field Support</description>
        <name>objSecondaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <name>objSFDC_User_PrimaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>objSFDC_User_PrimaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>objSFDC_User_SecondaryFAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>objSFDC_User_SecondaryFSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Id of Parts Order Record.</description>
        <name>PartsOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartsOrderRecordwithConsumables</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartsOrderRecordwithSpares</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartsOrderUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PrimaryFSEName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>objFieldSupport_PrimaryFSE.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>SpareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
