force-app/main/default/flows/Potential_Duplicate_This_Account_has_another_Opened_Case_within_the_last_8_hour.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Current Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Potential Duplicate: This Account has another Opened Case within the last 8 hour - &apos;+{!CurrentElement}</expression>
    </formulas>
    <interviewLabel>Potential Duplicate: This Account has another Opened Case within the last 8 hour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Potential Duplicate: This Account has another Opened Case within the last 8 hour</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Of_Duplicate_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>List_Of_Duplicate_Cases</name>
        <label>List Of Duplicate Cases</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseENBAListView</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:caseENBAListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseIPId</name>
                <value>
                    <elementReference>Get_Current_Record.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listTitle</name>
                <value>
                    <stringValue>List of recently opened cases within last 8 hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listViewName</name>
                <value>
                    <stringValue>Cases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recommendationName</name>
                <value>
                    <stringValue>Potential Duplicate: This Account has another Opened Case within the last 8 hour</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>contextRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Exception Log</description>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRecommendationAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
