force-app/main/default/flows/Proposal_Update_Is_Primary_Quote_Stages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>428</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>soCollProposalLstToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soVarLoopProp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Proposal_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Is_Primary_Update_Quote_Stage</name>
        <label>Uncheck Is Primary &amp; Update Quote Stage</label>
        <locationX>10</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Approval_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Non_Primary_Quotes_Stage_To_Denied</name>
        <label>Update Non Primary Quote Stage To Denied</label>
        <locationX>191</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Approval_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Stage_To_Accepted</name>
        <label>Update Quote Stage To Accepted</label>
        <locationX>797</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Approval_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_To_Primary_Stage_To_Accepted</name>
        <label>Update Quote To Primary &amp; Stage To Accepted</label>
        <locationX>1126</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Apttus_Proposal__Approval_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soVarLoopProp.Is_Updated_By_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Associated_Apttus_Quote</name>
        <label>Check Associated Apttus Quote</label>
        <locationX>862</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_To_Primary_Stage_To_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Quote To Primary And Stage To Accepted</defaultConnectorLabel>
        <rules>
            <name>Update_Quote_Stage_If_Quote_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soVarLoopProp.Apttus_Proposal__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soVarLoopProp.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Stage_To_Accepted</targetReference>
            </connector>
            <label>Update Quote Stage If Quote Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Associated_Quote</name>
        <label>Check Associated Quote</label>
        <locationX>572</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Check_Associated_Apttus_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Associated Quote</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Associated_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soVarLoopProp.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApttusQuoteNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Non_Associated_Quote</targetReference>
            </connector>
            <label>Is Not Associated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Collection_Is_Not_Empty</name>
        <label>Check Collection Is Not Empty</label>
        <locationX>825</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Proposals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCollProposalLstToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proposal</targetReference>
            </connector>
            <label>Update Proposals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Non_Associated_Quote</name>
        <label>Check Non Associated Quote</label>
        <locationX>179</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Update_Non_Primary_Quotes_Stage_To_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change Quote Stage To Denied If Quote Is Not Primary</defaultConnectorLabel>
        <rules>
            <name>UnCheck_If_The_Quote_Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soVarLoopProp.Apttus_Proposal__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Is_Primary_Update_Quote_Stage</targetReference>
            </connector>
            <label>UnCheck If The Quote Is Primary</label>
        </rules>
    </decisions>
    <description>Updates Quote Stage an Is Primary on Proposal</description>
    <interviewLabel>Proposal: Update Is Primary &amp; Quote Stages  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal: Update Is Primary &amp; Quote Stages</label>
    <loops>
        <name>Loop_Proposal_Records</name>
        <label>Loop Proposal Records</label>
        <locationX>563</locationX>
        <locationY>181</locationY>
        <assignNextValueToReference>soVarLoopProp</assignNextValueToReference>
        <collectionReference>soCollProposals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Associated_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Collection_Is_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_Up_To_Proposal</name>
        <label>Look Up To Proposal</label>
        <locationX>558</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Proposal_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Proposal__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Apttus_Proposal__Proposal__c</object>
        <outputReference>soCollProposals</outputReference>
        <queriedFields>Apttus_Proposal__Approval_Stage__c</queriedFields>
        <queriedFields>Apttus_Proposal__Primary__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Updated_By_System__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Proposal</name>
        <label>Update Proposal</label>
        <locationX>1095</locationX>
        <locationY>488</locationY>
        <inputReference>soCollProposalLstToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Look_Up_To_Proposal</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>Final List To update</description>
        <name>soCollProposalLstToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>Collection of Proposal records</description>
        <name>soCollProposals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>Loop Variable</description>
        <name>soVarLoopProp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>Proposal Records</description>
        <name>soVarProposals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>Apttus Quote Number</description>
        <name>varApttusQuoteNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Related Opportunity Id</description>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
