force-app/main/default/flows/Qualtrics_Survey_Response_c_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>QSR_Send_Low_Qualtrics_Survey_Score_IVD_Notification</name>
        <label>QSR : Send Low Qualtrics Survey Score IVD Notification</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Qualtrics_Survey_Response__c.QSR_Send_Low_Qualtrics_Survey_Score_IVD_Notification</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Qualtrics_Survey_Response__c.QSR_Send_Low_Qualtrics_Survey_Score_IVD_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>QSR_Send_Low_Qualtrics_Survey_Score_RUO_Notification</name>
        <label>QSR : Send Low Qualtrics Survey Score RUO Notification</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Qualtrics_Survey_Response__c.QSR_Send_Low_Qualtrics_Survey_Score_RUO_Notification</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Qualtrics_Survey_Response__c.QSR_Send_Low_Qualtrics_Survey_Score_RUO_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>QSR_Send_Qualtrics_Survey_Owner_Transfer_IVD_Notification</name>
        <label>QSR : Send Qualtrics Survey Owner Transfer IVD Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Qualtrics_Survey_Response__c.QSR_Send_Qualtrics_Survey_Owner_Transfer_IVD_Notification</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Qualtrics_Survey_Response__c.QSR_Send_Qualtrics_Survey_Owner_Transfer_IVD_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>QSR_Send_Qualtrics_Survey_Owner_Transfer_Non_IVD_Notification</name>
        <label>QSR : Send Qualtrics Survey Owner Transfer Non IVD Notification</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Qualtrics_Survey_Response__c.QSR_Send_Qualtrics_Survey_Owner_Transfer_Non_IVD_Notification</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Qualtrics_Survey_Response__c.QSR_Send_Qualtrics_Survey_Owner_Transfer_Non_IVD_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSR : Send Low Qualtrics Survey Score IVD Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSR : Send Low Qualtrics Survey Score RUO Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSR : Send Qualtrics Survey Owner Transfer IVD Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QSR : Send Qualtrics Survey Owner Transfer Non IVD Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_record_is_changed_and_owner_is_changed</name>
        <label>If record is changed and owner is changed</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>If_Send_Low_Qualtrics_Survey_Score_IVD_Notification_RUO_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_If_record_is_changed_and_owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNotNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Send_Owner_Transfer_IVD_Non_IVD_Notification</targetReference>
            </connector>
            <label>TRUE: If record is changed and owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Send_Low_Qualtrics_Survey_Score_IVD_Notification_RUO_Notification</name>
        <label>If Send Low Qualtrics Survey Score IVD Notification / RUO Notification</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_If_Send_Low_Qualtrics_Survey_Score_IVD_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Originating_Record_IVD_Prod_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Originating_Record_Add_l_IVD_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSR_Send_Low_Qualtrics_Survey_Score_IVD_Notification</targetReference>
            </connector>
            <label>TRUE: If Send Low Qualtrics Survey Score IVD Notification</label>
        </rules>
        <rules>
            <name>TRUE_If_Send_Low_Qualtrics_Survey_Score_RUO_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Originating_Record_IVD_Prod_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Originating_Record_Add_l_IVD_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSR_Send_Low_Qualtrics_Survey_Score_RUO_Notification</targetReference>
            </connector>
            <label>TRUE: If Send Low Qualtrics Survey Score RUO Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Send_Owner_Transfer_IVD_Non_IVD_Notification</name>
        <label>If Send Owner Transfer IVD/ Non-IVD Notification</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_If_Send_Owner_Transfer_IVD_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Originating_Record_IVD_Prod_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Originating_Record_Add_l_IVD_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSR_Send_Qualtrics_Survey_Owner_Transfer_IVD_Notification</targetReference>
            </connector>
            <label>TRUE: If Send Owner Transfer IVD Notification</label>
        </rules>
        <rules>
            <name>TRUE_If_Send_Owner_Transfer_Non_IVD_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Originating_Record_IVD_Prod_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Originating_Record_Add_l_IVD_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSR_Send_Qualtrics_Survey_Owner_Transfer_Non_IVD_Notification</targetReference>
            </connector>
            <label>TRUE: If Send Owner Transfer Non-IVD Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FlowandFaultElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Qualtrics_Survey_Response__c: After Insert &amp; Update&apos;+{!currentElement}</expression>
    </formulas>
    <formulas>
        <name>IsNotNew</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW())</expression>
    </formulas>
    <interviewLabel>Qualtrics_Survey_Response__c: After Insert &amp; Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qualtrics_Survey_Response__c: After Insert &amp; Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_record_is_changed_and_owner_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Low_Score_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Qualtrics_Survey_Response__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFaultElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
