force-app/main/default/flows/Quotation_Populate_Quote_Date_Fields_and_Bypass_Flag_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Approval_Date_Today</name>
        <label>Set Approval Date Today</label>
        <locationX>892</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus_Proposal__Proposal_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricing_Date_Is_Modified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date</name>
        <label>Set Start Date</label>
        <locationX>890</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus_Proposal__ExpectedStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apttus_QPConfig__PricingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pricing_Date_Greater_Than_Today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Valid_To</name>
        <label>Set Valid To</label>
        <locationX>892</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus_Proposal__ExpectedEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingDateAfterOneMonth</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ValueNull</name>
        <label>ValueNull</label>
        <locationX>900</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus_Proposal__Proposal_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Stage_is_Approved</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ConstantTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Pricing_Date_Greater_Than_Today</name>
        <label>Pricing Date Greater Than Today</label>
        <locationX>560</locationX>
        <locationY>615</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Date_Greater_Than_Today_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_QPConfig__PricingDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_QPConfig__PricingDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Apttus_QPConfig__PricingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid_To</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pricing Date Greater Than Today Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Date_Is_Modified</name>
        <label>Pricing Date Is Modified</label>
        <locationX>556</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Pricing_Date_Greater_Than_Today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Date_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_QPConfig__PricingDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Apttus_QPConfig__PricingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pricing Date Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Stage_Before_Approved</name>
        <label>Quote Stage Before Approved</label>
        <locationX>560</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>Quote_Stage_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Stage_Before_Approved_Outcome</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Apttus_Proposal__Approval_Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Proposal_Approval_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValueNull</targetReference>
            </connector>
            <label>Quote Stage Before Approved Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Stage_is_Approved</name>
        <label>Quote Stage is Approved</label>
        <locationX>558</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Pricing_Date_Is_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Stage_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Apttus_Proposal__Approval_Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Date_Today</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Quote Stage Approved</label>
        </rules>
    </decisions>
    <formulas>
        <name>LabelQuoteStageDraft</name>
        <dataType>String</dataType>
        <expression>{!$Label.QuoteStageDraft}</expression>
    </formulas>
    <formulas>
        <name>NullValue</name>
        <dataType>String</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>PricingDateAfterOneMonth</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Apttus_QPConfig__PricingDate__c} + 30</expression>
    </formulas>
    <interviewLabel>Quotation: Populate Quote Date Fields and Bypass Flag Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quotation: Populate Quote Date Fields and Bypass Flag Change Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Quote_Stage_Before_Approved</targetReference>
        </connector>
        <object>Apttus_Proposal__Proposal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
