force-app/main/default/flows/Quotation_Update_Invalid_Quote_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Transborder_Flag_Value_To_Invalid_Quote</name>
        <label>Assign Transborder Flag Value To Invalid Quote</label>
        <locationX>505</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>quotationVar.Invalid_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTransborderFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotationVar.Apttus_Proposal__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Quotation_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Quotation_Collection</name>
        <label>Update the Quotation Collection</label>
        <locationX>505</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>soCollVarQuotationUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotationVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quotation_Records</targetReference>
        </connector>
    </assignments>
    <description>This flow will update the invalid quote field for all quotes related to the opportunity and will be launched from the Process Builder.</description>
    <interviewLabel>Quotation: Update Invalid Quote Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quotation: Update Invalid Quote Flag</label>
    <loops>
        <name>Loop_through_Quotation_Records</name>
        <label>Loop through Quotation Records</label>
        <locationX>230</locationX>
        <locationY>172</locationY>
        <assignNextValueToReference>quotationVar</assignNextValueToReference>
        <collectionReference>soCollVarQuotation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Transborder_Flag_Value_To_Invalid_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quotation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Quotation_Records</name>
        <label>Lookup Quotation Records</label>
        <locationX>228</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Quotation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Proposal__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invalid_Quote__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varTransborderFlag</elementReference>
            </value>
        </filters>
        <object>Apttus_Proposal__Proposal__c</object>
        <outputReference>soCollVarQuotation</outputReference>
        <queriedFields>Invalid_Quote__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quotation_Records</name>
        <label>Update Quotation Records</label>
        <locationX>229</locationX>
        <locationY>304</locationY>
        <inputReference>soCollVarQuotationUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Quotation_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>quotationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>soCollVarQuotation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>soCollVarQuotationUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTransborderFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
