force-app/main/default/flows/Record_Trigger_Case_After_Save_Send_email_to_QA_Reviewer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Custom notification to send when QA Reviewer field is updated</description>
        <name>Notification_On_QA_Reviewer_Update</name>
        <label>Notification On QA Reviewer Update</label>
        <locationX>1045</locationX>
        <locationY>821</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_QA_Review</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Formula_Email_and_Notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CaseQAReviewerReassignmentSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Action to send Email when QA Reviewer field is updated</description>
        <name>Send_Email_QA_Review</name>
        <label>Send Email QA Review</label>
        <locationX>1047</locationX>
        <locationY>1005</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Formula_Email_and_Notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CaseQAReviewerReassignmentSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>475</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get From User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>623</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get To User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>795</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>getCustomNotification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>764</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification On QA Reviewer Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>597</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email QA Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Recipient IDs and email IDS</description>
        <name>AssignRecipientIdForSelf</name>
        <label>AssignRecipientIdForSelf</label>
        <locationX>767</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.QA_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.QA_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_On_QA_Reviewer_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Recipient IDs and email IDS</description>
        <name>RecipientIdsOther</name>
        <label>RecipientIdsOther</label>
        <locationX>1250</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QA_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.QA_Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QA_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.QA_Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_On_QA_Reviewer_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision box to decide on which user to send the email and notification to.</description>
        <name>QA_Review_Reassignment_Decision_Box</name>
        <label>QA Review Reassignment Decision Box</label>
        <locationX>1002</locationX>
        <locationY>687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_updated_by_self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecReviewerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoggedInUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OldRecReviewerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecipientIdForSelf</targetReference>
            </connector>
            <label>is updated by self</label>
        </rules>
        <rules>
            <name>is_updated_by_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.QA_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecReviewerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoggedInUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OldRecReviewerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoggedInUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecipientIdsOther</targetReference>
            </connector>
            <label>is updated by other</label>
        </rules>
    </decisions>
    <description>QACM-23 : Send Email and In App Notification to QA Reviewer when the QA Reviewer field is updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentRecReviewerId</name>
        <dataType>String</dataType>
        <expression>Left({!$Record.QA_Reviewer__c},15)</expression>
    </formulas>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Record-Trigger : Case After Save : Send email to QA Reviewer - &apos;+{!CurrentElement}</expression>
    </formulas>
    <formulas>
        <name>Formula_Email_and_Notification_body</name>
        <dataType>String</dataType>
        <expression>If(
{!is_updated_by_self},
&quot;The QA Review owner for the case &quot;+{!$Record.CaseNumber}+&quot; has been reassigned from &quot;+{!Get_From_User.Name}+&quot; to &quot;+{!Get_To_User.Name}+&quot; by &quot;+{!Get_To_User.Name},
&quot;The QA Review owner for the case &quot;+{!$Record.CaseNumber}+&quot; has been reassigned from &quot;+{!Get_From_User.Name}+&quot; to &quot;+{!Get_To_User.Name}+&quot; by &quot;+{!$User.FirstName}+&quot; &quot;+{!$User.LastName}
)</expression>
    </formulas>
    <formulas>
        <name>OldRecReviewerId</name>
        <dataType>String</dataType>
        <expression>Left({!$Record__Prior.QA_Reviewer__c},15)</expression>
    </formulas>
    <interviewLabel>Record-Trigger : Case After Save : Send email to QA Reviewer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger : Case After Save : Send email to QA Reviewer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the user record i.e. the old QA Reviewer</description>
        <name>Get_From_User</name>
        <label>Get From User</label>
        <locationX>674</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_To_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.QA_Reviewer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the user record i.e. the new QA Reviewer</description>
        <name>Get_To_User</name>
        <label>Get To User</label>
        <locationX>869</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QA_Reviewer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch custom notification record.</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1011</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QA_Review_Reassignment_Decision_Box</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_QA_Reviewer_Owner_Reassignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>153</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Get_From_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Reviewer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QA_Reviewer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Exception Log</description>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>590</locationX>
        <locationY>706</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CaseQAReviewerReassignmentSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!$Record.CaseNumber} QA Review Owner Reassigned</text>
    </textTemplates>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoggedInUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
