force-app/main/default/flows/SVMXC_Product_Serial_c_After_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stock Serial Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get product stock details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;SVMXC__Product_Serial__c: Before Insert &amp; Update&apos;+{!currentElement}</expression>
    </formulas>
    <formulas>
        <name>locationUpdateFormula</name>
        <dataType>String</dataType>
        <expression>
IF(ISBLANK({!Get_product_stock_details.SVMXC__Location__c} ),null,{!Get_product_stock_details.SVMXC__Location__c})</expression>
    </formulas>
    <formulas>
        <name>productUpdateFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_product_stock_details.SVMXC__Product__c}),NULL,{!Get_product_stock_details.SVMXC__Product__c})</expression>
    </formulas>
    <interviewLabel>SVMXC__Product_Serial__c: After Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SVMXC__Product_Serial__c: After Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_product_stock_details</name>
        <label>Get product stock details</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stock_Serial_update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SVMXC__Product_Stock__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Product_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stock_Serial_update</name>
        <label>Stock Serial update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>locationUpdateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVMXC__Product__c</field>
            <value>
                <elementReference>productUpdateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_product_stock_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Product_Stock__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Product_Serial__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Logs</name>
        <label>Create Exception Logs</label>
        <locationX>704</locationX>
        <locationY>539</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
