force-app/main/default/flows/UpdateQuotationRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignCustomRecordTypeID</name>
        <label>AssignCustomRecordTypeID</label>
        <locationX>867</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>Proposal_CustomQuoteRecTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRecTyp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProposalRecordTypeID</name>
        <label>AssignProposalRecordTypeID</label>
        <locationX>1050</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>Proposal_ProposalRecTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRecTyp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignReadOnlyId</name>
        <label>AssignReadOnlyId</label>
        <locationX>693</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>Proposal_ReadOnlyRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRecTyp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToListForUpdate</name>
        <label>AssignToListForUpdate</label>
        <locationX>814</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateQuoteRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeQuoteRecordTypeForNonRejected</name>
        <label>ChangeQuoteRecordTypeForNonRejected</label>
        <locationX>1082</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecordVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposal_CustomQuoteRecTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToListForUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>910</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>IterateRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoneOfRecordType</defaultConnectorLabel>
        <rules>
            <name>CheckReadOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecTyp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReadOnlyDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReadOnlyId</targetReference>
            </connector>
            <label>CheckReadOnly</label>
        </rules>
        <rules>
            <name>CheckCustomQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecTyp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomRecordTypeDevName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCustomRecordTypeID</targetReference>
            </connector>
            <label>CheckCustomQuote</label>
        </rules>
        <rules>
            <name>CheckProposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecTyp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProposalRecordTypeDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProposalRecordTypeID</targetReference>
            </connector>
            <label>CheckProposal</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateQuotationRecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateQuotationRecordType</label>
    <loops>
        <name>IterateQuoteRecords</name>
        <label>IterateQuoteRecords</label>
        <locationX>554</locationX>
        <locationY>239</locationY>
        <assignNextValueToReference>QuoteRecordVar</assignNextValueToReference>
        <collectionReference>QuotationRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChangeQuoteRecordTypeForNonRejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateQuoteList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateRecordTypes</name>
        <label>IterateRecordTypes</label>
        <locationX>550</locationX>
        <locationY>20</locationY>
        <assignNextValueToReference>QuoteRecTyp</assignNextValueToReference>
        <collectionReference>QuoteRecordTypeListValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FetchQuoteRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FetchQuoteRecords</name>
        <label>FetchQuoteRecords</label>
        <locationX>390</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateQuoteRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Proposal__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Apttus_Proposal__Proposal__c</object>
        <outputReference>QuotationRecordList</outputReference>
        <queriedFields>Apttus_Proposal__Approval_Stage__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FetchQuoteRecordType</name>
        <label>FetchQuoteRecordType</label>
        <locationX>390</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateRecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus_Proposal__Proposal__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>QuoteRecordTypeListValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteList</name>
        <label>UpdateQuoteList</label>
        <locationX>444</locationX>
        <locationY>405</locationY>
        <inputReference>QuoteRecordListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FetchQuoteRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Custom_Product_Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Proposal_CustomQuoteRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Proposal_ProposalRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Proposal_ReadOnlyRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProposalRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuotationRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecordListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecordTypeListValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>QuoteRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecTyp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ReadOnlyDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Proposal_Read_Only</stringValue>
        </value>
    </variables>
</Flow>
