force-app/main/default/flows/User_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>User_Proxy_Assignment_Email</name>
        <label>User_Proxy_Assignment_Email</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>User.User_QSR_Proxy_User_Assignment_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>If_Removed_Delegated_Approver_Email_is_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Error_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.User_QSR_Proxy_User_Assignment_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>User_QSR_Removal_Email</name>
        <label>User_QSR_Removal_Email</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>User.User_QSR_Proxy_User_Removal_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Error_Element1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.User_QSR_Proxy_User_Removal_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Current_Error_Element</name>
        <label>Assign Current Error Element</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Proxy Assignment Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Error_Element1</name>
        <label>Assign Current Error Element</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User QSR Removal Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Error_ElementUpdateUser</name>
        <label>Assign Current Error Element</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_ID</name>
        <label>Check Contact ID</label>
        <locationX>446</locationX>
        <locationY>1577</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Autolaunched_flow</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Removed_Delegated_Approver_Email_is_Null</name>
        <label>If Removed Delegated Approver Email is Null</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE: If Removed Delegated Approver Email is Null</defaultConnectorLabel>
        <rules>
            <name>TRUE_If_Removed_Delegated_Approver_Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Removed_Delegated_Approver_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_QSR_Removal_Email</targetReference>
            </connector>
            <label>TRUE: If Removed Delegated Approver Email is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_QSR_Proxy_Assignment</name>
        <label>User_QSR_Proxy_Assignment</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>If_Removed_Delegated_Approver_Email_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_User_QSR_Proxy_Assignment</defaultConnectorLabel>
        <rules>
            <name>TRUE_User_QSR_Proxy_Assignment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Out_of_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delegated_Approver_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Out_of_Office__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Proxy_Assignment_Email</targetReference>
            </connector>
            <label>TRUE_User_QSR_Proxy_Assignment</label>
        </rules>
    </decisions>
    <description>Migrated from the User: QSR Proxy User Update process using multiple criteria.
Flow to Trigger Mail on User&apos;s OOO Update.
merged: User : After Insert Update</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowandFaultElementName</name>
        <dataType>String</dataType>
        <expression>&apos;User: After Insert&apos;+{!currentElement}</expression>
    </formulas>
    <interviewLabel>User : After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User : After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Check_Contact_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Error_ElementUpdateUser</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Removed_Delegated_Approver_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Removed_Delegated_Approver_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_QSR_Proxy_Assignment</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Logs</name>
        <label>Create Exception Logs</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFaultElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>User_Autolaunched_flow</name>
        <label>User Autolaunched flow</label>
        <locationX>314</locationX>
        <locationY>1685</locationY>
        <flowName>User_Autolaunched</flowName>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
