force-app/main/default/flows/User_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Set Is Community User on Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Failure_Element1</name>
        <label>Assign Current Failure Element</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update IsCommunityUser on Contact for Inactive User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Community_Portal_User</name>
        <label>Is Community Portal User</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>IsCommunityUser_for_inactive_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Is Community Portal User</defaultConnectorLabel>
        <rules>
            <name>TRUE_Is_Community_Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRecord.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Community_User_on_Contact</targetReference>
            </connector>
            <label>TRUE_Is Community Portal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCommunityUser_for_inactive_users</name>
        <label>IsCommunityUser for inactive users</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>FALSE_IsCommunityUser for inactive users</defaultConnectorLabel>
        <rules>
            <name>TRUE_IsCommunityUser_for_inactive_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IsCommunityUser_on_Contact_for_Inactive_User</targetReference>
            </connector>
            <label>TRUE_IsCommunityUser for inactive users</label>
        </rules>
    </decisions>
    <description>Autolaunched from User : After Insert Update</description>
    <formulas>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;CRF : After Insert- &apos;+{!currentElement}</expression>
    </formulas>
    <interviewLabel>User : Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User : Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Is_Community_User_on_Contact</name>
        <label>Set Is Community User on Contact</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserRecord.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Community_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_User_Role__c</field>
            <value>
                <elementReference>UserRecord.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IsCommunityUser_on_Contact_for_Inactive_User</name>
        <label>Update IsCommunityUser on Contact for Inactive User</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserRecord.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Community_User__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Community_Portal_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>UserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
