force-app/main/default/flows/Work_Order_Scheduled_Outside_SLA_Web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_post_when_WO_scheduled_outside_SLA</name>
        <label>Chatter post when WO scheduled outside SLA</label>
        <locationX>644</locationX>
        <locationY>503</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Assign_Flow_Element_Name</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Schedule_SLA_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SVMXC__Group_Member__r.SVMXC__Salesforce_User__r.ManagerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Flow_Element_Name</name>
        <label>Assign Flow Element Name</label>
        <locationX>454</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chatter Post when WO scheduled outside SLA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Schedule_SLA_Conditions</name>
        <label>check Schedule SLA Conditions</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule_Outside_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Group_Member__r.SVMXC__Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Group_Member__r.SVMXC__Salesforce_User__r.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onsite_Response_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ScheduledDateTime_DateValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_post_when_WO_scheduled_outside_SLA</targetReference>
            </connector>
            <label>Schedule Outside SLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetFlowAndElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Work Order: Scheduled Outside SLA Web- &apos; + {!CurrentElement}</expression>
    </formulas>
    <formulas>
        <name>ScheduledDateTime_DateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SVMXC__Scheduled_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Work Order: Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Scheduled Outside SLA Web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_Schedule_SLA_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMXC__Scheduled_Date_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Group_Member__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Activities</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onsite_Response_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Flow_Exception</name>
        <label>Create Flow Exception</label>
        <locationX>299</locationX>
        <locationY>506</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>GetFlowAndElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Schedule_SLA_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.Name} has been scheduled outside Onsite Response Due Date</stringValue>
        </value>
    </variables>
</Flow>
