force-app/main/default/flows/WorkOrderPartnerAssignmentFlow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Work_Order_owner</name>
        <label>Email to Work Order owner</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Work_Order_owner_on_ownership_assignment_by_Channel_Par</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Current_Failure_Element</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Work_Order_owner_on_ownership_assignment_by_Channel_Par</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CP</name>
        <label>Send Email to CP</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_CP_When_Estimate_WO_is_Submitted_for_Review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_Work_Order_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SVMXC__Service_Order__c.Work_Order_Send_Email_to_CP_When_Estimate_WO_is_Submitted_for_Review</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get AccountId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetAccountToFieldFromAccountId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetUserFromFieldSupport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Field Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Assign_Current_Failure_Element_0_0_0_0_0_0</name>
        <label>Assign Current Failure Element</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email To CP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Support</name>
        <label>Assign Field Support</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Illumina_Representative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjFieldSupport.SVMXC__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjFieldSupport.SVMXC__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Field_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Current Failure Element</description>
        <name>Copy_1_of_Assign_Current_Failure_Element</name>
        <label>Assign Current Failure Element</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Work Order Owner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_to_check_Account_to_Field_Support_record_found_or_not</name>
        <label>Decision  to check Account to Field Support record found or not</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_to_Field_Support_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjAccountToFieldSupport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObjAccountToFieldSupport.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObjAccountToFieldSupport.User_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserFromFieldSupport</targetReference>
            </connector>
            <label>Account to Field Support record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Field_Support_record_found_or_not</name>
        <label>Decision to check Field Support record found or not</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Field_Support_record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjFieldSupport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObjFieldSupport.SVMXC__Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RecordTypeEstimates</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PendingReviewOrderStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Detail_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SVMXC__Order_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PendingReviewOrderStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Field_Support</targetReference>
            </connector>
            <label>Field Support record found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>FlowandFailureElementName</description>
        <name>FlowandFailureElementName</name>
        <dataType>String</dataType>
        <expression>&apos;Work Order: Partner Assignment Flow - &apos;+{!CurrentElement}</expression>
    </formulas>
    <interviewLabel>Work Order: Partner Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Partner Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountId</name>
        <label>Query On Contacts to Fetach Account</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountToFieldFromAccountId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ObjContact</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountToFieldFromAccountId</name>
        <label>GetAccountToFieldFromAccountId</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_check_Account_to_Field_Support_record_found_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Primary_Field_Service_Engineer</elementReference>
            </value>
        </filters>
        <object>Account_to_Field_Support__c</object>
        <outputReference>ObjAccountToFieldSupport</outputReference>
        <queriedFields>User__c</queriedFields>
        <queriedFields>User_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserFromFieldSupport</name>
        <label>GetUserFromFieldSupport</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_check_Field_Support_record_found_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjAccountToFieldSupport.User__c</elementReference>
            </value>
        </filters>
        <object>SVMXC__Service_Group_Members__c</object>
        <outputReference>ObjFieldSupport</outputReference>
        <queriedFields>SVMXC__Salesforce_User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Field_Support</name>
        <label>Update WO</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Send_Email_to_CP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Current_Failure_Element_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.Owner:User.ContactId}))</filterFormula>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowandFailureElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>CurrentElement</description>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjAccountToFieldSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_to_Field_Support__c</objectType>
    </variables>
    <variables>
        <name>ObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObjFieldSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Group_Members__c</objectType>
    </variables>
    <variables>
        <name>ObjUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
