force-app/main/default/flows/Work_Order_Close_Technical_Elevation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Get_Work_Order</name>
        <label>Assign Get Work Order</label>
        <locationX>410</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Work Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Elevation</name>
        <label>Assign Update Elevation</label>
        <locationX>811</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close Technical Elevation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>PicklistValue_Elevation_Status_Closed_Actions_Complete</description>
        <name>PicklistValue_Elevation_Status_Closed_Actions_Complete</name>
        <choiceText>Closed - Actions Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Actions Complete</stringValue>
        </value>
    </choices>
    <choices>
        <description>PicklistValue_Elevation_Status_Closed_Actions_Could_Not_Be_Completed</description>
        <name>PicklistValue_Elevation_Status_Closed_Actions_Could_Not_Be_Completed</name>
        <choiceText>Closed - Actions Could Not Be Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Actions Could Not Be Completed</stringValue>
        </value>
    </choices>
    <choices>
        <description>PicklistValue_Elevation_Status_Open</description>
        <name>PicklistValue_Elevation_Status_Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Technical_Elevation_Status</name>
        <label>Check Technical Elevation Status</label>
        <locationX>771</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Close_Technical_Elevation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Elevation_Status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Technical_Elevation_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Elevation_Status_Open</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Technical_Elevation</targetReference>
            </connector>
            <label>Technical Elevation Status Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition to check  Elevation Fields Before Closing Technical Elevation</description>
        <name>checkElevetionFieldsBeforeClosing</name>
        <label>checkElevationFieldsBeforeClosing</label>
        <locationX>424</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Technical_Elevation_Closure_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Elevation_Closing_fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkOrder.Technical_Elevation__r.Plan_of_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkOrder.Technical_Elevation__r.Elevation_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getWorkOrder.Technical_Elevation__r.Elevation_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Elevation_Closure</targetReference>
            </connector>
            <label>Check Elevation Closing fields</label>
        </rules>
    </decisions>
    <description>Flow in Work Order to Close Related Technical Elevation - Added exception log DCP-56231</description>
    <dynamicChoiceSets>
        <description>Picklist values for Elevation - Instrument DOA Or Replacement</description>
        <name>Elevation_Instrument_DOA_Or_Replacement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Instrument_DOA_or_Replacement__c</picklistField>
        <picklistObject>Elevations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ElevationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Elevation_Status__c</picklistField>
        <picklistObject>Elevations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FlowAndElementName</name>
        <dataType>String</dataType>
        <expression>&apos;WorkOrder: Close Technical Elevation - &apos; +{!CurrentElement}</expression>
    </formulas>
    <interviewLabel>Work Order: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order:Close Technical Elevation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Used to get elated work order details.</description>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>183</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkElevetionFieldsBeforeClosing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Get_Work_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SVMXC__Service_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Used to Close Technical Elevation</description>
        <name>Close_Technical_Elevation</name>
        <label>Close Technical Elevation</label>
        <locationX>985</locationX>
        <locationY>273</locationY>
        <faultConnector>
            <targetReference>Assign_Update_Elevation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Technical_Elevation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Status__c</field>
            <value>
                <elementReference>Technical_Elevation_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Resolution__c</field>
            <value>
                <elementReference>Elevation_Technical_Final_Resolution.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instrument_DOA_or_Replacement__c</field>
            <value>
                <elementReference>Instrument_DOA_or_Replacement</elementReference>
            </value>
        </inputAssignments>
        <object>Elevations__c</object>
    </recordUpdates>
    <screens>
        <name>Close_Technical_Elevation_Error</name>
        <label>Close Technical Elevation</label>
        <locationX>991</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Elevation_Open_Status_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 3, 3); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;You cannot close this Technical Elevation with a status of Open.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_message_Screen</name>
        <label>Error message Screen</label>
        <locationX>636</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technical_Elevation_Closure</name>
        <label>Technical Elevation Closure</label>
        <locationX>654</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Technical_Elevation_Status</targetReference>
        </connector>
        <fields>
            <name>Elevation_Technical_Final_Resolution</name>
            <extensionName>c:richTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Final Resolution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getWorkOrder.Technical_Elevation__r.Final_Resolution__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>Please enter a value</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Technical_Elevation_Closure_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Elevation_Closure_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_Elevation_Status</name>
                    <choiceReferences>PicklistValue_Elevation_Status_Open</choiceReferences>
                    <choiceReferences>PicklistValue_Elevation_Status_Closed_Actions_Could_Not_Be_Completed</choiceReferences>
                    <choiceReferences>PicklistValue_Elevation_Status_Closed_Actions_Complete</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkOrder.Technical_Elevation__r.Elevation_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical Elevation Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Elevation_Closure_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instrument_DOA_or_Replacement</name>
                    <choiceReferences>Elevation_Instrument_DOA_Or_Replacement</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkOrder.Technical_Elevation__r.Instrument_DOA_or_Replacement__c</elementReference>
                    </defaultValue>
                    <fieldText>Instrument DOA or Replacement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Technical_Elevation_Closure_Error_Message_Screen</name>
        <label>Technical Elevation Closure Error Message Screen</label>
        <locationX>656</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Technical_Elevation_Closure_Failure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 56, 4); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;In order to close this Technical Elevation, the Elevation Owner and Elevation Manager must be identified and the Plan of Action must be populated. Please make the appropriate correction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>636</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Error_message_Screen</targetReference>
        </connector>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowAndElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Elevation_Status_Open</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record of Work Order Record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
