force-app/main/default/flows/Work_Order_Create_Technical_Elevation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>To Call AddElevationMember class to create additional elevation member records</description>
        <name>AddElevationMemberAction</name>
        <label>AddElevationMember</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>AddElevationMemberHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RPS_FAM_FSM_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Add_Elev_Mem</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lstInputRecords</name>
            <value>
                <elementReference>AddElevationMember.strRecContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddElevationMemberHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Add_Elev_Mem</name>
        <label>Assign Add Elev Mem</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Elevation Member</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBack_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Create_Record</name>
        <label>Assign Create Record</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Technical Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBack_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Create_Technical_Record</name>
        <label>Assign Create Technical Record0</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Technical Record 0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBack_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Get_WO</name>
        <label>Assign Get WO</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Work Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RollBack_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Record</name>
        <label>Assign Update Record</label>
        <locationX>1370</locationX>
        <locationY>1388</locationY>
        <assignmentItems>
            <assignToReference>CurrentElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Work Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RollBack_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Store field values for auto populating after error screen</description>
        <name>Assign_WorkOrder</name>
        <label>Assign WorkOrder Fields</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LinkToELevationData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkElevationData.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalSupportField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalSupportRequest.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidateType</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Non Standard Technical</description>
        <name>NonStandardTechnical</name>
        <choiceText>Non Standard Technical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Standard Technical</stringValue>
        </value>
    </choices>
    <choices>
        <description>Project</description>
        <name>Project</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Project&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project</stringValue>
        </value>
    </choices>
    <choices>
        <description>Standard Technical</description>
        <name>StandardTechnical</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Standard Technical&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Technical</stringValue>
        </value>
    </choices>
    <decisions>
        <description>To check RPS FAM FSM user.</description>
        <name>RPS_FAM_FSM_Check</name>
        <label>RPS FAM FSM Check</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Technical_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateElevationRPSUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Technical_Record_0</targetReference>
            </connector>
            <label>CreateElevationRPSUser</label>
        </rules>
    </decisions>
    <decisions>
        <description>Additional Elevation member Type should not be Executive Summary Key Stakeholder.</description>
        <name>ValidateType</name>
        <label>ValidateType</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_Additional_Elevation_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_Reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BusinessImpactToCustomer_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BusinessImpactToIllumina_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResolutionTargetDate_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calculateLinkToElevationLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectReasonError</targetReference>
            </connector>
            <label>Select Reason Screen</label>
        </rules>
    </decisions>
    <description>Create Technical elevation, update work order details and add additional elevation member</description>
    <dynamicChoiceSets>
        <name>BusinessImpactCust</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Impact_to_Customer__c</picklistField>
        <picklistObject>SVMXC__Service_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessImpactIllumina</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Impact_to_Illumina__c</picklistField>
        <picklistObject>SVMXC__Service_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FirstOccurrence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_Occurance__c</picklistField>
        <picklistObject>Elevations__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimarySupportRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Support_Requested__c</picklistField>
        <picklistObject>Elevations__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>To Check if business impact to customer is Other and reason is blank</description>
        <name>BusinessImpactToCustomer_Check</name>
        <dataType>Boolean</dataType>
        <expression>{!Business_Impact_to_Customer} == &apos;Other&apos; &amp;&amp; {!Business_Impact_to_Customer_Reason_New} == null</expression>
    </formulas>
    <formulas>
        <description>Restrict user to add more than 255 characters on Business Impact to Customer Reason</description>
        <name>BusinessImpacttoCustomerReasonLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Business_Impact_to_Customer_Reason_New}) &gt;= 255</expression>
    </formulas>
    <formulas>
        <description>To check if business impact to illumina is selected as Other and Reason is Blank</description>
        <name>BusinessImpactToIllumina_Check</name>
        <dataType>Boolean</dataType>
        <expression>{!Business_Impact_to_Illumina_new} == &apos;Other&apos; &amp;&amp; {!Business_Impact_to_Illumina_Reason} == null</expression>
    </formulas>
    <formulas>
        <description>Restrict user to add more than 255 characters on Business Impact to Illumina Reason</description>
        <name>BusinessImpacttoIlluminaReasonLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Business_Impact_to_Illumina_Reason}) &gt;= 255</expression>
    </formulas>
    <formulas>
        <description>calculate length of text entered on Link To Elevation Data</description>
        <name>calculateLinkToElevationLength</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN(TRIM({!LinkToELevationData})) &gt; 1000 ,true,false)</expression>
    </formulas>
    <formulas>
        <name>CustomValidation_Check</name>
        <dataType>String</dataType>
        <expression>MID
({!$Flow.FaultMessage},
FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION,&apos;,{!$Flow.FaultMessage})+LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION,&quot;),
(FIND(&apos;: []&apos;,{!$Flow.FaultMessage})-(FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION,&apos;,{!$Flow.FaultMessage})+LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION,&quot;))
)
)</expression>
    </formulas>
    <formulas>
        <name>FlowAndElementName</name>
        <dataType>String</dataType>
        <expression>&apos;WorkOrder: Create Technical Elevation - &apos; +{!CurrentElement}</expression>
    </formulas>
    <formulas>
        <description>To check resolution deadline should not be less than Today&apos;s Date</description>
        <name>ResolutionTargetDate_check</name>
        <dataType>Boolean</dataType>
        <expression>{!Customer_Resolution_Target_Date} &lt; Today()</expression>
    </formulas>
    <interviewLabel>Work Order: Create Technical Elevation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order: Create Technical Elevation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Technical_Record</name>
        <label>Create Technical Record</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>TechnicalElevation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Create_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Detail__c</field>
            <value>
                <elementReference>WorkOrderAdditionalDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Impact_to_Customer__c</field>
            <value>
                <elementReference>Business_Impact_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>strCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Resolution_Target_Date__c</field>
            <value>
                <elementReference>Customer_Resolution_Target_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Category__c</field>
            <value>
                <elementReference>Technical_Elevation_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Manager__c</field>
            <value>
                <elementReference>ManagerLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Owner__c</field>
            <value>
                <elementReference>OwnerLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Unique_Name__c</field>
            <value>
                <stringValue>{!recordId} : Technical Elevation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Occurance__c</field>
            <value>
                <elementReference>First_Occ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Needed_Additional_Support__c</field>
            <value>
                <elementReference>AdditionalSupportRequest.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Elevation_Data__c</field>
            <value>
                <elementReference>LinkElevationData.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Support_Requested__c</field>
            <value>
                <elementReference>Primary_Support_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Work_Order__c</field>
            <value>
                <elementReference>Related_Work_Order_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Elevations__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Technical_Record_0</name>
        <label>Create Technical Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>TechnicalElevation.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Create_Technical_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Detail__c</field>
            <value>
                <elementReference>WorkOrderAdditionalDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Impact_to_Customer__c</field>
            <value>
                <elementReference>Business_Impact_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>strCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Resolution_Target_Date__c</field>
            <value>
                <elementReference>Customer_Resolution_Target_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Category__c</field>
            <value>
                <stringValue>Standard Technical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Manager__c</field>
            <value>
                <elementReference>ManagerLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Owner__c</field>
            <value>
                <elementReference>OwnerLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elevation_Unique_Name__c</field>
            <value>
                <stringValue>{!recordId} : Technical Elevation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Occurance__c</field>
            <value>
                <elementReference>First_Occ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Needed_Additional_Support__c</field>
            <value>
                <elementReference>AdditionalSupportRequest.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Elevation_Data__c</field>
            <value>
                <elementReference>LinkElevationData.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Support_Requested__c</field>
            <value>
                <elementReference>Primary_Support_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Work_Order__c</field>
            <value>
                <elementReference>Related_Work_Order_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Elevations__c</object>
    </recordCreates>
    <recordLookups>
        <description>To get subject field from WO</description>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Technical_Elevation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Get_WO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SVMXC__Service_Order__c</object>
        <outputAssignments>
            <assignToReference>WorkOrderAdditionalDetail</assignToReference>
            <field>Additional_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBusinessImpactToCustomerReason</assignToReference>
            <field>Business_Impact_to_Customer_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>retainBusinessImpactToCustomer</assignToReference>
            <field>Business_Impact_to_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strBusinessImpactToIlluminaReason</assignToReference>
            <field>Business_Impact_to_Illumina_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>retainBusinessImpactToIllumina</assignToReference>
            <field>Business_Impact_to_Illumina__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderNotes</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>strCaseId</assignToReference>
            <field>SVMXC__Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderSubject</assignToReference>
            <field>SVMX_PS_Subject__c</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <description>Rollback the transaction if error occurs.</description>
        <name>RollBack_Error</name>
        <label>RollBack_Elevation</label>
        <locationX>1370</locationX>
        <locationY>1496</locationY>
        <connector>
            <targetReference>Create_Exception_Log</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>578</locationX>
        <locationY>1280</locationY>
        <faultConnector>
            <targetReference>Assign_Update_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Impact_to_Customer_Reason__c</field>
            <value>
                <elementReference>Business_Impact_to_Customer_Reason_New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Impact_to_Customer__c</field>
            <value>
                <elementReference>Business_Impact_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Impact_to_Illumina_Reason__c</field>
            <value>
                <elementReference>Business_Impact_to_Illumina_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Impact_to_Illumina__c</field>
            <value>
                <elementReference>Business_Impact_to_Illumina_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Elevation__c</field>
            <value>
                <elementReference>TechnicalElevation.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SVMXC__Service_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Additional_Elevation_Member</name>
        <label>Add Additional Elevation Member</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddElevationMemberAction</targetReference>
        </connector>
        <fields>
            <name>DisplayAddMember</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Add Elevation Members&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddElevationMember</name>
            <extensionName>c:additionalElevationMemberLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Business Impact to Customer or Illumina reason text field is mandatory when the Impact is selected as Other.</description>
        <name>SelectReasonError</name>
        <label>SelectReasonError</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Technical_Elevation</targetReference>
        </connector>
        <fields>
            <name>DisplaySelectReasonError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Business Impact to Customer Reason field is mandatory when Impact is selected as &apos;Other&apos;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to the previous screen to update the field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessImpactToCustomer_Check</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayIlluminaReasonError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Business Impact to Illumina Reason field is mandatory when Impact is selected as &apos;Other&apos;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to the previous screen to update the field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessImpactToIllumina_Check</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayResolutionDeadlineError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Customer Resolution Target Date should not be less than Today&apos;s Date.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to the previous screen to update the field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ResolutionTargetDate_check</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayActionError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!CustomValidation_Check}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayDmlError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Fault---&amp;gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomValidation_Check</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>null</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LinkToElevationDataLength</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Link To Elevation Data field can accept only up to 1000 chars. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to the previous screen to update the field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>calculateLinkToElevationLength</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UniqueTechElevationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;This Work Order already has a Technical Elevation. If a new one is required, create a new Business Issue Complaint case AND use the &quot;Create Technical Elevation&quot; button. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATE_VALUE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LimitBusinessImpacttoCustomerReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 14, 14);&quot;&gt;The fields Business Impact to Customer Reason has a character limit of 255 which has been exceeded. Update the text to within the character limit and save.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿Go to the previous screen to update the field.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessImpacttoCustomerReasonLimit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LimitBusinessImpacttoIlluminaReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 13, 13);&quot;&gt;The field Business Impact to Illumina Reason has a character limit of 255 which has been exceeded. Update the text to within the character limit and save.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to the previous screen to update the field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessImpacttoIlluminaReasonLimit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technical_Elevation</name>
        <label>Technical Elevation</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>Technical_Elevation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Elevation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ElevationManager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Elevation_Manager__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technical Elevation Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Elevations__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ManagerLookup</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ManagerLookup</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ManagerLookupName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Technical_Elevation_Category</name>
                    <choiceReferences>StandardTechnical</choiceReferences>
                    <choiceReferences>Project</choiceReferences>
                    <choiceReferences>NonStandardTechnical</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>StandardTechnical</defaultSelectedChoiceReference>
                    <fieldText>Technical Elevation Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Permission_Check</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Elevation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ElevationOwner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Elevation_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technical Elevation Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Elevations__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>OwnerLookup</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>OwnerLookup</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>OwnerLookupName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Elevation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Elevation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplaySubject</name>
                    <fieldText>&lt;p&gt;Subject:&lt;/p&gt;&lt;p&gt;{!WorkOrderSubject}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Technical_Elevation_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Technical_Elevation_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Support_Requested</name>
                    <choiceReferences>PrimarySupportRequest</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Primary Support Requested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>First_Occ</name>
                    <choiceReferences>FirstOccurrence</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>First Occurrence Of This Issue?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LinkElevationData</name>
                    <extensionName>c:richTextArea</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Link to Elevation Data</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>LinkToELevationData</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Business_Impact_to_Customer</name>
                    <choiceReferences>BusinessImpactCust</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>retainBusinessImpactToCustomer</elementReference>
                    </defaultValue>
                    <fieldText>Business Impact to Customer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_Impact_to_Illumina_new</name>
                    <choiceReferences>BusinessImpactIllumina</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>retainBusinessImpactToIllumina</elementReference>
                    </defaultValue>
                    <fieldText>Business Impact to Illumina</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notes</name>
                    <defaultValue>
                        <stringValue>{!WorkOrderNotes}</stringValue>
                    </defaultValue>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;This is the Notes field from the Work Order. Any changes added here will be&lt;/p&gt;&lt;p&gt;copied back to the Notes field on the Work Order.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NoteText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 2, 2);&quot;&gt;Notes Field: Provide reason for elevating, background on the issue, and what&apos;s been done to date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Technical_Elevation_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AdditionalSupportRequest</name>
                    <extensionName>c:supportRequestMultiSelect</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>AdditionalSupportField</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Customer_Resolution_Target_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Customer Resolution Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Related_Work_Order_s</name>
                    <fieldText>Related Work Order(s)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please fill in related Work Order(s) for this Account if this is not the first occurrence of this issue.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_Impact_to_Customer_Reason_New</name>
                    <defaultValue>
                        <stringValue>{!strBusinessImpactToCustomerReason}</stringValue>
                    </defaultValue>
                    <fieldText>Business Impact to Customer Reason</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_Impact_to_Illumina_Reason</name>
                    <defaultValue>
                        <stringValue>{!strBusinessImpactToIlluminaReason}</stringValue>
                    </defaultValue>
                    <fieldText>Business Impact to Illumina Reason</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>1370</locationX>
        <locationY>1604</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SelectReasonError</targetReference>
        </connector>
        <flowName>Create_Flow_Exception_log</flowName>
        <inputAssignments>
            <name>CurrentRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Source</name>
            <value>
                <elementReference>FlowAndElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workstream</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AdditionalSupportField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentElement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the text field value to auto populate after error screen</description>
        <name>LinkToELevationData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagerLookupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerLookupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To check permission for RPS,FSM and FAM users.</description>
        <name>Permission_Check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Permission.RPS_FSM_FAM</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Retain Business Impact To Customer field</description>
        <name>retainBusinessImpactToCustomer</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To auto populate the buisness Impact to Illumina field</description>
        <name>retainBusinessImpactToIllumina</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To auto populate the Business impact To Customer Reason</description>
        <name>strBusinessImpactToCustomerReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To auto populate business impact to Illumina Reaason field</description>
        <name>strBusinessImpactToIlluminaReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CaseId</description>
        <name>strCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicalElevation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Elevations__c</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Order__c</objectType>
    </variables>
    <variables>
        <description>Work Order Additional Detail</description>
        <name>WorkOrderAdditionalDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Order Notes</description>
        <name>WorkOrderNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store WO subject to reference in the screen</description>
        <name>WorkOrderSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>WorkOrder.SVMX_PS_Subject__c</elementReference>
        </value>
    </variables>
</Flow>
