force-app/main/default/flows/Work_Order_Email_Alert_for_Reopen_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Reopen_Requester_on_Denial</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Send Email for Denial</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Reopen_Requester_on_Denial</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_14_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Reopen_Requester_on_Accept</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Send Email for Approval</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Reopen_Requester_on_Accept</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Reopen_Request_Accept_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Send Email for Approval</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Reopen_Requester_on_Accept</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_QA_Review_Queue</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Email to QA</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_QA_Review_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Sync_Failure_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Work Order Sync Failure Email Notification</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Sync_Failure_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_CustomerService</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Work Order : Send Email to Superuser for Work order Reopen</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_CustomerService</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_FieldService</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Work Order: Send Email to Superuser for Work Order Reopen_FieldService</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_FieldService</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_TechnicalSupport</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Work Order: Send Email to Superuser for Work Order Reopen_TechnicalSupport</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Superuser_for_Work_Order_Reopen_TechnicalSupport</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Work_Order_Send_Email_to_Reopen_Requester_on_Denial</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Send Email for Denial</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>SVMXC__Service_Order__c.Work_Order_Send_Email_to_Reopen_Requester_on_Denial</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check Request Reopen WO for Business Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Reopen_Request_Initiated_From_WO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Check Request Initiated From WO</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Check Reopen Rejected With Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Check Reopen Accepted Without Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Check Reopen Accepted With Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Check Request Reopen Work order by Customer Service User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_pmetdec</targetReference>
            </connector>
            <label>Word Order Sync Failure Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Check Request Reopen Work Order by Field Service User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Check Request Reopen Work Order by Technical Support user</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Check Reopen Rejected Without Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_21_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_21_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_21_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Process Builder to send Email alert to super user for requesting to reopen a work order</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A1_0803666297</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[SVMXC__Service_Order__c].SVMXC__Case__c.Previous_Status__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_14_A2_6631981582</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.SVMXC__Case__r.Previous_Status__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) &lt;&gt; $Label.ReopenRequested,
    TEXT([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) == $Label.ReopenRequested,
    NOT(ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c )),
	[SVMXC__Service_Order__c].SVMXC__Case__c.RecordType.Name  == &apos;Business Issue&apos;,
	OR(
        CASE([SVMXC__Service_Order__c].SVMXC__Case__c.PAE_PFA_Evaluation_Required__c,&quot;Yes&quot;,1,0)=1,
		[SVMXC__Service_Order__c].Case_IVD_Identifier__c
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c} ) &lt;&gt; {!$Label.ReopenRequested},
    TEXT({!myVariable_current.SVMXC__Order_Status__c} ) == {!$Label.ReopenRequested},
    NOT(ISBLANK({!myVariable_current.SVMXC__Case__c} )),
	{!myVariable_current.SVMXC__Case__r.RecordType.Name}  == &apos;Business Issue&apos;,
	OR(
        CASE({!myVariable_current.SVMXC__Case__r.PAE_PFA_Evaluation_Required__c},&quot;Yes&quot;,1,0)=1,
		{!myVariable_current.Case_IVD_Identifier__c}
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c )),
PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c) == $Label.ReopenRequested,

TEXT(  [SVMXC__Service_Order__c].SVMXC__Order_Status__c)  == [SVMXC__Service_Order__c].Order_Previous_Status__c
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.SVMXC__Case__c} )),
PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c}) == {!$Label.ReopenRequested},

TEXT(  {!myVariable_current.SVMXC__Order_Status__c})  == {!myVariable_current.Order_Previous_Status__c}
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c ),
 PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c) == $Label.WorkOrderStatusReopenRequested,

 OR(TEXT( [SVMXC__Service_Order__c].SVMXC__Order_Status__c )== $Label.WorkOrderStatusReopenRequested,
TEXT( [SVMXC__Service_Order__c].SVMXC__Order_Status__c )== $Label.WorkOrderStatusTechnicianOnsite))

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISBLANK({!myVariable_current.SVMXC__Case__c} ),
 PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c}) == {!$Label.WorkOrderStatusReopenRequested},

 OR(TEXT( {!myVariable_current.SVMXC__Order_Status__c} )== {!$Label.WorkOrderStatusReopenRequested},
TEXT( {!myVariable_current.SVMXC__Order_Status__c} )== {!$Label.WorkOrderStatusTechnicianOnsite}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c )),
PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c) == $Label.ReopenRequested,

OR(TEXT(  [SVMXC__Service_Order__c].SVMXC__Order_Status__c)  == $Label.WorkOrderStatusInProgress,
TEXT(  [SVMXC__Service_Order__c].SVMXC__Order_Status__c)  == $Label.WorkOrderStatusAssigned)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!myVariable_current.SVMXC__Case__c} )),
PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c}) == {!$Label.ReopenRequested},

OR(TEXT(  {!myVariable_current.SVMXC__Order_Status__c})  == {!$Label.WorkOrderStatusInProgress},
TEXT(  {!myVariable_current.SVMXC__Order_Status__c})  == {!$Label.WorkOrderStatusAssigned})

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[SVMXC__Service_Order__c].Integration_Status__c  = &quot;Fail&quot;,
ISCHANGED([SVMXC__Service_Order__c].LastModifiedDate ),
[SVMXC__Service_Order__c].LastModifiedBy.FirstName = &apos;SNAP Service&apos;,
[SVMXC__Service_Order__c].LastModifiedBy.LastName = &apos;Integration&apos;,
IF(BEGINS([SVMXC__Service_Order__c].OwnerId , &apos;005&apos;) &amp;&amp; [SVMXC__Service_Order__c].Owner:User.Profile.Name  &lt;&gt; &apos;Customer Service&apos; &amp;&amp; [SVMXC__Service_Order__c].Owner:User.IsActive = TRUE, TRUE, FALSE)  
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Integration_Status__c}  = &quot;Fail&quot;,
ISCHANGED({!myVariable_current.LastModifiedDate} ),
{!myVariable_current.LastModifiedBy.FirstName} = &apos;SNAP Service&apos;,
{!myVariable_current.LastModifiedBy.LastName} = &apos;Integration&apos;,
IF(BEGINS({!myVariable_current.OwnerId} , &apos;005&apos;) &amp;&amp; {!myVariable_current.Owner:User.Profile.Name}  &lt;&gt; &apos;Customer Service&apos; &amp;&amp; {!myVariable_current.Owner:User.IsActive} = TRUE, TRUE, FALSE)  
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[SVMXC__Service_Order__c].Integration_Status__c  = &quot;Fail&quot;,
ISCHANGED([SVMXC__Service_Order__c].LastModifiedDate ),
[SVMXC__Service_Order__c].LastModifiedBy.FirstName = &apos;SNAP Service&apos;,
[SVMXC__Service_Order__c].LastModifiedBy.LastName = &apos;Integration&apos;,
IF(BEGINS([SVMXC__Service_Order__c].OwnerId , &apos;005&apos;) &amp;&amp; [SVMXC__Service_Order__c].Owner:User.Profile.Name  &lt;&gt; &apos;Customer Service&apos; &amp;&amp; [SVMXC__Service_Order__c].Owner:User.IsActive = TRUE, TRUE, FALSE)  
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_old.Integration_Status__c}  = &quot;Fail&quot;,
ISCHANGED({!myVariable_old.LastModifiedDate} ),
{!myVariable_old.LastModifiedBy.FirstName} = &apos;SNAP Service&apos;,
{!myVariable_old.LastModifiedBy.LastName} = &apos;Integration&apos;,
IF(BEGINS({!myVariable_old.OwnerId} , &apos;005&apos;) &amp;&amp; {!myVariable_old.Owner:User.Profile.Name}  &lt;&gt; &apos;Customer Service&apos; &amp;&amp; {!myVariable_old.Owner:User.IsActive} = TRUE, TRUE, FALSE)  
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(    
    PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) &lt;&gt; $Label.ReopenRequested,
    TEXT([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) == $Label.ReopenRequested,
    $Profile.Name ==$Label.ProfileName_CustomerService,


ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c)


)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(    
    PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c} ) &lt;&gt; {!$Label.ReopenRequested},
    TEXT({!myVariable_current.SVMXC__Order_Status__c} ) == {!$Label.ReopenRequested},
    {!$Profile.Name} =={!$Label.ProfileName_CustomerService},


ISBLANK({!myVariable_current.SVMXC__Case__c})


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(   
PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) &lt;&gt; $Label.ReopenRequested,
        TEXT([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) == $Label.ReopenRequested,
        $Profile.Name ==$Label.ProfileName_FieldService,

ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c)


)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(   
PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c} ) &lt;&gt; {!$Label.ReopenRequested},
        TEXT({!myVariable_current.SVMXC__Order_Status__c} ) == {!$Label.ReopenRequested},
        {!$Profile.Name} =={!$Label.ProfileName_FieldService},

ISBLANK({!myVariable_current.SVMXC__Case__c})


)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(  
PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) &lt;&gt; $Label.ReopenRequested,
        TEXT([SVMXC__Service_Order__c].SVMXC__Order_Status__c ) == $Label.ReopenRequested,
        $Profile.Name == $Label.ProfileName_TechnicalSupport,


ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(  
PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c} ) &lt;&gt; {!$Label.ReopenRequested},
        TEXT({!myVariable_current.SVMXC__Order_Status__c} ) == {!$Label.ReopenRequested},
        {!$Profile.Name} == {!$Label.ProfileName_TechnicalSupport},


ISBLANK({!myVariable_current.SVMXC__Case__c})

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISBLANK([SVMXC__Service_Order__c].SVMXC__Case__c ),
PRIORVALUE([SVMXC__Service_Order__c].SVMXC__Order_Status__c) == $Label.ReopenRequested,

TEXT(  [SVMXC__Service_Order__c].SVMXC__Order_Status__c)  == [SVMXC__Service_Order__c].Order_Previous_Status__c
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISBLANK({!myVariable_current.SVMXC__Case__c} ),
PRIORVALUE({!myVariable_current.SVMXC__Order_Status__c}) == {!$Label.ReopenRequested},

TEXT(  {!myVariable_current.SVMXC__Order_Status__c})  == {!myVariable_current.Order_Previous_Status__c}
)</expression>
    </formulas>
    <interviewLabel>Work_Order_Email_Alert_for_Reopen_Request-74_InterviewLabel</interviewLabel>
    <label>Work Order : Email Alert for Reopen Request</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SVMXC__Service_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SVMXC__Service_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Assign Work Order to Reopen Request Queue</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Order Previous Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Order_Previous_Status__c</field>
            <value>
                <elementReference>formula_12_myRule_11_A1_0803666297</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reopen Request Initiated From WO</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Reopen_Request_Initiated_From_WO__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SVMXC__Service_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SVMXC__Service_Order__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_14_A2</name>
        <label>Update Case to rejected</label>
        <locationX>1400</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.SVMXC__Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reopen Requested</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reason for Approval / Denial of Reopen</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Reason_for_Approval_Denial_of_Reopen__c</field>
            <value>
                <elementReference>myVariable_current.Reason_for_Approval_Denial_of_Reopen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <elementReference>formula_15_myRule_14_A2_6631981582</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SVMXC__Service_Order__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>Update Case Accepted</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.SVMXC__Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reopen Requested</stringValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reason for Approval / Denial of Reopen</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Reason_for_Approval_Denial_of_Reopen__c</field>
            <value>
                <elementReference>myVariable_current.Reason_for_Approval_Denial_of_Reopen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SVMXC__Service_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMXC__Service_Order__c</objectType>
    </variables>
</Flow>
