force-app/main/default/flows/Work_Order_Detail_Handle_Failed_Part_Consumption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_notify_failed_part_consumption</name>
        <label>Send email to notify failed part consumption</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_email_to_notify_failed_part_consumption</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Records_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>BellNotificationRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Email_Recipient</name>
        <label>Set Email Recipient</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SVMXC__Service_Order__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient</name>
        <label>Set Recipient</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>BellNotificationRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SVMXC__Service_Order__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Email_Recipient</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumption Failed on a Work Order, Action Must be Taken</stringValue>
        </value>
    </constants>
    <description>Sends out Email and Notification when Part Consumption fails</description>
    <formulas>
        <name>NotificationRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Record.SVMXC__Service_Order__r.OwnerId}</expression>
    </formulas>
    <interviewLabel>Work Order Detail:  Handle Failed Part Consumption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Detail:  Handle Failed Part Consumption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_Notification</name>
        <label>Get Records Notification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PartsOrderNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Recipient</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMXC__Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </filters>
        <object>SVMXC__Service_Order_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear  {!$Record.SVMXC__Service_Order__r.Owner:User.FirstName}&lt;/p&gt;&lt;p&gt;Consumption has failed for the item {!$Record.SVMXC__Product__r.Name} part# {!$Record.Product_Code__c}  for work order {!$Record.SVMXC__Service_Order__r.Name}. The message from SAP about the failure is as follows:  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Integration_Message_Details__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The consumption confirmed box has been unchecked. Changes must be made in this debrief line before checking &quot;Consumption Confirmed&quot; again, or likely the line will fail again. Please investigate the issue with this item, fix the issue and then check &quot;consumption confirmed&quot; or cancel&amp;nbsp;the debrief line. If the problem is unclear and you need further assistance, log a Service Now ticket with the category &quot;Salesforce - Service&quot; and explain the issue or copy this email into the body of the ticket&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ListofRecipients</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.SVMXC__Service_Order__r.OwnerId}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear  {!$Record.SVMXC__Service_Order__r.Owner:User.FirstName}
Consumption has failed for the item {!$Record.SVMXC__Product__r.Name} part# {!$Record.Product_Code__c}  for work order {!$Record.SVMXC__Service_Order__r.Name}. The message from SAP about the failure is as follows:  {!$Record.Integration_Message_Details__c}
The consumption confirmed box has been unchecked. Changes must be made in this debrief line before checking &quot;Consumption Confirmed&quot; again, or likely the line will fail again. Please investigate the issue with this item, fix the issue and then check &quot;consumption confirmed&quot; or cancel&amp;nbsp;the debrief line. If the problem is unclear and you need further assistance, log a Service Now ticket with the category &quot;Salesforce - Service&quot; and explain the issue or copy this email into the body of the ticket</text>
    </textTemplates>
    <variables>
        <name>BellNotificationRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
